[2014-11-06 22:10] amunns opened #54 "Plan details missing from Agreement order summary page"
Everything seems to work in the above example, up until the redirecturl is followed, when arriving at the PayPal site, none of the agreement financial details are displayed, just the following:

Your order summary
Description
Agreement for T-Shirt of the Month Club

Once the transaction has been completed, which seems to run smoothly, a bad request 400 error is returned. Any ideas?

[2014-12-24 12:18] aAmitSengar opened #58 "How can we Receive Money using this IBAN ? Not mentioned any where else."
Actually this is not an issue but i'm tired but still didn't find any solution please help me

[2015-01-02 02:52] EdSF opened #61 "HTTP 500: INTERNAL_SERVICE_ERROR on credit_card with item_list"
Perhaps related to [this closed issue?](https://github.com/paypal/PayPal-NET-SDK/issues/30)

This error is (so far for me) returned 100% of the time if I include `item_list` in the `transaction`. Removing the`item_list` will complete successfully (so far 100% of the time).

Sounds simple enough (then don't include `item_list`), **but** the error is _"cosmetic"_. The transaction in fact **succeeds*

[2015-01-02 15:22] jziaja commented on #61
Thanks for reporting this @EdSF.  Does the 500 error response contain any other information (like `debug_id`)?

[2015-01-02 16:38] EdSF commented on #61
Hi Jason,

Oops, forgot to add that part. Yes:

    {
	  "name": "INTERNAL_SERVICE_ERROR",
	  "message": "An internal service error has occurred",
	  "information_link": "https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVICE_ERROR",
	  "debug_id": "bed2efa986965"
     }

If it helps at all, just repro a minute or so ago, the ID for this specific repro (obtained from the Sandbox

[2015-01-02 17:02] jziaja commented on #61
Thanks @EdSF, it looks like there's a lot of internal exceptions occurring in the backend service. I tried reproducing this, but I didn't encounter any problems.  To help in debugging this issue (and to provide the API team with more detailed information for how to reproduce the issue), I'll need to know the following information:
* What SDK calls are you making?
* What does the request body being

[2015-01-02 18:13] EdSF commented on #61
Hi Jason,

I'm using the .Net SDK (latest, via Nuget).
 1. create the ApiContext
 2. build the necessary objects (`Payer`, `Transaction`, etc)
 3. build `Payment` and then call `Create`

Am using the SDK so for the raw data (payload), I called `ConvertToJson()` on `Payment`:

    {
	 "intent": "sale",
	 "payer": {
		 "payment_method": "credit_card",
		 "funding_instruments": [{
			 "credit_card":

[2015-01-02 22:46] jziaja commented on #61
Thanks for the detailed information, @EdSF!  Using that payment object, I was able to successfully reproduce the issue.

I was able to get it to work by **changing the credit card number** (I tried it with `4446283280247004`, and the payment was successfully created).  Can you try that out and see if it works for you?  You can also generate a new test credit card to use against sandbox by creating

[2015-01-03 00:23] EdSF commented on #61
Arg - that worked :)

Successful response (edited for brevity):

    {
          "id": "PAY-72891622GP4592738KSTTCAQ",
          "intent": "sale",
          "payer": {
           "payment_method": "credit_card",
           "funding_instruments": [
      {
        "credit_card": {
          "number": "xxxxxxxxxxxx7004",
          "type": "visa",
          ....

          "transactions": [

[2015-01-03 16:54] EdSF commented on #61
Additional **feedback** - re: Negative Testing (_somewhat_ related to above - regarding errors):

I've been able to do negative testing (e.g. induce AVS errors), based on the [classic API guidance](https://developer.paypal.com/webapps/developer/docs/classic/lifecycle/sb_error-conditions/), but it seems there is no detail that is returned - other than the "type" of Exception re: -  above is a `PayP

[2015-01-04 00:06] burrm commented on #58
I was looking at this too, I'd like to be able to provide the ability for customers to pay by e-check. Based on the API documentation, payer has to be a credit_card or paypal.

https://developer.paypal.com/docs/api/#payer-object

Looking at the FundingInstrument class, there are at least the bindings to support bank payments:

/// <summary>
        /// Bank Account information.
        /// </summa

[2015-01-04 16:39] jziaja commented on #61
Thanks for the feedback @EdSF!  I'll forward this to the services team informing them there's a case where an AVS failure isn't returning an appropriate error.

Closing this issue as the CVV failure is a known issue the services team is currently working on to address.  If you encounter any other issues, please don't hesitate to open a new issue here and let us know. Thanks!

[2015-01-04 16:39] #61 closed

[2015-01-04 21:46] EdSF opened #62 "SDK: Sale.Refund()"
Line 130 of [`Sale.cs`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/Sale.cs)
`var resourcePath = "v1/payments/sale/{0}/refund";`

`saleId` is missing/not set in `resourcePath`.

This results a POST to: `https://api.sandbox.paypal.com/v1/payments/sale/%7B0%7D/refund`

Sample (via Fiddler):

    POST https://api.sandbox.paypal.com/v1/payments/sale/%7B0%7D/refund HTTP/1.1

[2015-01-05 16:11] jziaja commented on #62
Thanks for spotting that @EdSF!  I'll get that fixed and add some (apparently missing) unit tests to ensure that's accounted for in the future.  Also, since that file is autogenerated by an internal tool, I'll double-check our tool to see why that method was generated incorrectly so it doesn't happen again in the future.

[2015-01-05 16:15] jziaja commented on #58
Thanks for pointing that out, @burrm!  I'll check with the API team to see what the correct call should be and circle back when I have an answer.

[2015-01-05 19:01] EdSF commented on #62
Cool beans @jziaja :) I'm `new`ing up those methods for now :) Thanks!

[2015-01-06 07:44] EdSF opened #63 "Question: allow_note"
While one can toggle the ability for a user to [`allow_note`](https://developer.paypal.com/docs/api/#inputfields-object) in a `web_profile` there doesn't seem to be a way to get this data (the note) back from any response in a "normal" payment flow (or "extra" call that I've tried so far - e.g.`Payment.Get`.). Is there a way to do so?

Unsure if this is the right forum for such, if not, just let m

[2015-01-06 14:30] jziaja commented on #63
Great question, @EdSF, and yes, this is definitely the place to ask these types of questions. :)  [StackOverflow](http://stackoverflow.com/) is another good place, but asking here allows for us (the PayPal SDK team) to see the question immediately and forward it to the appropriate API team if necessary.

I tried testing this out, and the only place I could find the note is in the email that gets s

[2015-01-06 14:35] jziaja commented on #63
Also, while testing this scenario I realized the sample project doesn't have a sample that uses an experience profile when making a payment with PayPal.  I'm going to add a new sample that creates a new experience profile along with making a payment with PayPal so developers have an easier time seeing this flow in action.  I'll also include a note in the sample that tells developers where they can

[2015-01-06 16:23] #62 closed

[2015-01-06 16:31] EdSF commented on #63
Awesome @jziaja :+1:  Thanks!

[2015-01-09 17:00] jziaja commented on #58
@burrm, unfortunately, the ability to pay be e-check isn't supported at this time.  Currently, only `credit_card` and `paypal` are supported as payment methods in the REST API.  The API team did say that they plan to enable other payment methods in the future but had no ETA on when that might happen.

The reason these other funding instrument properties made it into this codebase (and the other SD

[2015-01-12 05:45] moatazelgamal opened #64 "Seamless checkout using REST API"
Hi there :)

I am using the paypal REST API for a project and I need to use paypal seamless-checkout. The docs on the link below suggest that REST API support for seamless-checkout is coming soon. What is the time-frame expected?
https://developer.paypal.com/docs/integration/direct/identity/seamless-checkout/

My use case is as follows:
User authenticates to my website using Paypal login. User bro

[2015-01-12 15:50] jziaja commented on #64
Hi @moatazelgamal, great question!  I'm checking on the status of that feature with the teams and will get back to you here when I have an answer.

[2015-01-12 18:56] jziaja commented on #63
**Update:** According to the API team, the note to seller field cannot be retrieved via a REST call, and there's no immediate plans to add that support.

Also, the note to seller field is only available in the older PayPal payment experience, and is not available in the newer payment experience.  Unfortunately, there's nothing the caller can do at this time to force an old or new experience.

[2015-01-12 18:56] #63 closed

[2015-01-12 19:30] jziaja commented on #64
Unfortunately, there's no ETA at this time for when seamless checkout will be supported by the REST API.

[2015-01-12 19:30] #64 closed

[2015-01-13 21:25] MECLab opened #65 "Account reporting features"
Hi @jziaja,

I've been looking into migrating from the Classic API to the RESTful API. There are 3 main API operations that we use - **GetBalance**, **TransactionSearch** and **GetTransactionDetails**.

Sifting through the RESTful API documentation, I don't see equivalent operations. Do you know if these exist?

Thanks
Keagan

[2015-01-13 22:28] jziaja commented on #65
Heya @MECLab!  `GetBalance` isn't available yet in the REST API; I'll follow up with the API team to see where that is on the roadmap and get back to you.

`TransactionSearch` and `GetTransactionDetails` can be accomplished by first calling [`Payment.List`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/Payment.cs#L215) with search criteria specified (which is a little more li

[2015-01-15 06:46] HoneyShyam opened #66 "How to get Buyer/Payer Name using Adaptive Payment"
Hi Dear,
Is there any way/method to get Buyer when do a Chained Payment using Adaptive Payment.
Any help will be great.
Thanks in advance.
Regards
Shyam

[2015-01-15 14:11] jziaja commented on #66
Hi @HoneyShyam, this repository is for the PayPal .NET SDK, which is built on PayPal's REST APIs.  The [PayPal Adaptive Payments Classic SDK for .NET](https://github.com/paypal/adaptivepayments-sdk-dotnet) is in a different repository.  Please resubmit your issue in that repository.

[2015-01-15 14:11] #66 closed

[2015-01-15 15:05] HoneyShyam commented on #66
Thanks @jziaja

[2015-01-19 12:12] halimakoundi opened #67 "Error when trying to make Direct Payment with Maestro card"
I get an error when trying to make a direct payment with maestro card on sandbox account :

Exception:
[code]

I am not setting the issue number but the `start_month` and `start_year` for the `fundInstrument.payment_card` object.

Thanks for your help.

[2015-01-20 02:35] Jaans opened #68 ".NET SDK seems to be missing the equivalent of "&useraction=commit"?"
Hi all
Thanks for a great SDK - practical to work with!

I cannot seem to find the equivalent in the SDK for making the payment immediate on the PayPal site, which traditionally was done with the 'useraction' parameter and the 'commit' value for it.

Normally that 'commit' value would have the PayPal page show **"Pay Now"** instead of "Continue - You will confirm your payment on XXXXXX". So that i

[2015-01-20 02:38] Jaans commented on #68
Related to the above, would I still need to "Execute" the payment upon returning from the PayPal site if the above "Pay Now" scenario were enabled?

[2015-01-20 15:00] jziaja commented on #67
Hi @halimakoundi, looking at the logs I see you're using version 0.11.0 of this SDK.  Are you able to upgrade to the current version 1.2.2 ([NuGet](https://www.nuget.org/packages/PayPal) or [GitHub direct download](https://github.com/paypal/PayPal-NET-SDK/releases)) and try it again?  Thanks!

[2015-01-20 16:19] jziaja commented on #68
Hi @Jaans, glad to hear you're enjoying the SDK, and great question!  The **Pay Now** feature does look to still be available (and can be taken advantage of by appending `&useraction=commit` to the `approval_url` HATEOAS link of the created **Payment** resource).  However, in testing this, I'm noticing that the **Payment** resource is still marked with `state="created"` and includes an `execute` H

[2015-01-21 01:09] Jaans commented on #68
Thanks for the feedback.
I'm happy to still issue a  "Execute" call upon returning from PayPal using the "**Pay Now**" scenario, I just wasn't sure whether I should, or whether it is still the intent from an RestAPI point of view. I'll await your feedback.

FYI: We have a pending deployment with PayPal UK in the next few weeks, so it would be great if we could have this working by then :wink:

[2015-01-21 12:40] halimakoundi commented on #67
Hi @jziaja,

I updated the PaypalSDK as suggested , I do have now
RestApiSDK 0.11.0.0
PaypalCoreSDK 1.6.0.0
Paypal 1.2.2.0

I still have the same issues, to be honnest I am quite confused as per which dll I do have to reference for the restApi ..

Thanks for your help.

[2015-01-21 14:02] jziaja commented on #67
You do not need **RestApiSDK** and **PayPalCoreSDK** as the newer **PayPal** library replaces both of these.  I checked NuGet, and it looks like the message I added explaining the replacement on the **PayPal** package got removed during a previous publish; I'll add that explanation back in so it's clear.

Also, because the newer library now includes the Core SDK, some changes needed to be made wit

[2015-01-21 17:56] jziaja commented on #68
@Jaans , I heard back from the payments team, and apparently I misunderstood how the **Pay Now** feature works.

Using Classic or REST, redirecting a buyer to PayPal with `useraction=commit` is intended as a way of alerting the user that when they click the "Pay Now" button, the payment can be processed by the merchant immediately.  The merchant will still need to call `Execute` (or `GetExpressChe

[2015-01-22 03:07] Jaans commented on #68
Thanks for the prompt follow-up, and also the related contextual information.

Our PayPal UK contact confirmed the same with regards to executing the transaction.

I agree, it would be better for the SDK to handle the relevant `approval_url` manipulation for **Pay Now** support, rather than relying on end-user manipulation thereof.

I'm happy to do that (manipulate the`approval_url`) in the interi

[2015-01-23 14:31] darkducke opened #69 "Send to shopping cart paypal"
I am starting now, and I'm a little lost, I want to send the shopping cart, the application for the user to complete the payment in paypal page, which example of the demo should I use? Payment would be ()? or Invoice ()?

Thank U!

[2015-01-23 14:55] jziaja commented on #69
Hi @darkducke!  If you need to send a bill to a customer regarding a payment for items, then you'll want to create an Invoice to send to the customer.  However, if you just need a way for your customers to purchase items immediately from their shopping cart, then creating a Payment is what you want.

I'd suggest taking a look at the [**Make a payment with PayPal** sample](https://github.com/paypal

[2015-01-23 14:59] jziaja commented on #67
Hi @halimakoundi , were you able to get the library working with your project?  If you're still experiencing the problem you mentioned, would you mind sharing how you have your Payment object setup for making the direct payment with the maestro card?  Thanks!

[2015-01-23 17:38] halimakoundi commented on #67
Hi,
Thanks for your help and explanations.
I still have the same issue.
see here the dll is Paypal.dll version 1.2.2.0 (the latest)
![image](https://cloud.githubusercontent.com/assets/5450688/5879233/45a30220-a325-11e4-9c53-30c96afa7197.png)

And I have error message as below
{"name":"VALIDATION_ERROR","details":[{"field":"payer.funding_instruments[0].payment_card","issue":"This field name is not

[2015-01-23 17:41] halimakoundi commented on #67
Screenshot of the Internal server error

![image](https://cloud.githubusercontent.com/assets/5450688/5879403/e936a8aa-a326-11e4-8042-9b7bdc891002.png)

If you could provide me with a test example of maestro payment it would be very helpful !
Thanks a lot for your help !!

Cheers.

[2015-01-23 17:47] halimakoundi commented on #67
Also,

I understand that for maestro payments, we need to provide either an issue number or start and end date for the payment card , but there is no such field as issueNumber or similar in the object PayPal.Api.CreditCard nor in the object PayPal.Api.PaymentCard

Thanks.

[2015-01-23 17:54] jziaja commented on #67
Thanks for the detailed information @halimakoundi!  I'm currently looking into this and will get back to you once I have more information.

[2015-01-23 17:59] darkducke commented on #69
Thank you for your help!

[2015-01-23 17:59] #69 closed

[2015-01-23 18:02] halimakoundi commented on #67
Thanks a lot

[2015-01-23 18:16] jziaja commented on #67
Sorry for the delay.  Unfortunately, payments using Maestro cards aren't yet possible using the REST API.  You'll have to use the Classic SDK until that support gets added to REST payments.

Using the [PayPal Merchant SDK for .NET](https://github.com/paypal/merchant-sdk-dotnet) (available on [NuGet](https://www.nuget.org/packages/PayPalMerchantSDK/)), you can call [DoDirectPayment](https://develop

[2015-01-26 09:51] halimakoundi commented on #67
Hi Thank you for your return..
I have done some tests with the merchant sdk and seem to work fine on the sandbox

Where can I subscribe to know when the Maestro become supported on Rest API ?
Cheers.

[2015-01-26 09:51] #67 closed

[2015-01-26 14:31] jziaja commented on #67
The best way would be to follow this repository here on GitHub.  As soon as support gets added, it'll likely require changes to the model objects in this SDK to support the fields required (`STARTDATE`, `ISSUENUMBER`, and anything else) for making Maestro payments.

[2015-01-26 23:53] MLyons10 opened #70 "When processing a payment, can I get back the Transaction ID, etc?"
I can't seem to find a way to do this anywhere, is anyone able to tell me how I might do this?  I would like to log this for my records.

[2015-01-27 05:57] jziaja commented on #70
Hi @MLyons10, the transaction ID can be found via the [`related_resources`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/RelatedResources.cs) property of each `transaction` associated with a payment.

Here's a code sample of how to get the transaction ID for a sale payment, along with how it looks using the sample project:

[code]

![image](https://cloud.githubusercontent.co

[2015-01-27 11:37] halimakoundi opened #71 "Delivery details not passed through to paypal"
Hi ,
I have an issue with the direct payment with VISA cards, I do set up billing and delivery info for the payer and it does not seem to make it through to the paypal live account

My code to set up the payment

[code]

etc..

On the Website Payments Pro transaction view it says

![image](https://cloud.githubusercontent.com/assets/5450688/5917761/bc3d111e-a618-11e4-8381-6a9b50309114.png)

Am i se

[2015-01-27 11:39] halimakoundi commented on #71
For Payment with Maestro i am using the Merchant sdk

 Dim shippingInfo As New PayPal.PayPalAPIInterfaceService.Model.AddressType()
        shippingInfo.Name = payer.FirstName
        shippingInfo.CityName = GlobalRegistry.OrderInProgress.Customer.Addresses.GetSelectedDeliveryAddress.Line4
        shippingInfo.Country = DirectCast([Enum].Parse(GetType(CountryCodeType), GlobalRegistry.OrderInProgre

[2015-01-27 17:15] jziaja commented on #71
Hi @halimakoundi, the correct place to put the shipping address information is in the `item_list.shipping_address` property for the `transaction`.  The documentation is a little confusing, but the `payer_info` is actually only used to pre-fill fields on the PayPal site if you do a direct payment using PayPal.  `payer_info` is effectively ignored if you do a direct payment using a credit card since

[2015-01-27 20:53] jziaja commented on #71
Updated my previous comment as I was incorrect on how the `payer_info` object is being used.  However, that just adds to the fact that using that object is currently very confusing...  I've notified the docs team concerning this and we will be working with the Payments API team to get this documentation updated as well as raise the following API bug & issue that were discovered:

* Payment resourc

[2015-01-28 08:18] halimakoundi commented on #71
Hi Thanks you,
I am switching to the classic API for now for all payments.

Thanks for your explanation.

[2015-01-28 08:18] #71 closed

[2015-01-28 09:51] prparamasivam opened #73 "Seamless Checkout : IDENTITYACCESSTOKEN"
Hi,
I am trying to integrate PayPal seamless checkout. I'm using .NET PayPalMerchantSDK for SetExpressCheckout API call.The documentation here https://developer.paypal.com/docs/integration/direct/identity/seamless-checkout/ states that I should be passing in an IDENTITYACCESSTOKEN parameter. However, this doesn't seem to be available in the sdk. Could you please guide on how to integrate?

[2015-01-28 13:42] jziaja commented on #73
Hi @prparamasivam, would you mind moving this issue over to the [PayPal Classic Merchant SDK for .NET](https://github.com/paypal/merchant-sdk-dotnet) repository?  This repository is for the PayPal .NET SDK, which uses PayPal's REST APIs.  Thanks!

[2015-01-28 13:42] #73 closed

[2015-01-29 02:50] MLyons10 commented on #70
Thank you very much for your help.  That works perfectly.

Am I able to get detailed information when an error is returned?  I see that I get a 400 Error, but I was hoping to be able to get some detail as to what actually is the issue...  I can't for the life of me figure out what is causing it to return an error...

Thanks for your help.

[2015-01-29 03:30] jziaja commented on #70
Yes, depending on where the 400 Error is encountered, a [`PaymentsException`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Exception/PaymentsException.cs) may be thrown and includes a [`Details`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Exception/PaymentsException.cs#L12) property that provides quick access to the cause of the error.  Otherwise, an [`HttpE

[2015-01-29 03:41] jziaja commented on #70
I should also mention that if you do get an error that you're having trouble understanding (some of the errors can be quite cryptic), sharing the `debug_id` contained in the error response with us here will allow our team to look up the specific details of what caused the error.

[2015-01-29 20:57] jziaja commented on #68
Hi @Jaans, I've published the 1.3 release ([GitHub direct download](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.3.0) | [NuGet](https://www.nuget.org/packages/PayPal/1.3.0)) that includes helper methods for accessing the HATEOAS links for any resource object that might have them.  For a Payment resource object, you can call `payment.GetApprovalUrl(true)` to get the URL for the `approva

[2015-01-29 20:57] #68 closed

[2015-01-29 21:01] jziaja commented on #58
The [`FundingInstrument`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/FundingInstrument.cs#L42) properties that are currently not supported have been flagged in the latest release with attributes so they don't appear in the Intellisense list or a Properties grid.  I held off from marking them with an `Obsolete` attribute since there's a chance they could be supported in the

[2015-01-29 21:01] #58 closed

[2015-01-29 21:12] burrm commented on #58
Thanks, I appreciate it. Are the changes available in the latest NuGet package?

From: Jason Ziaja [mailto:notifications@github.com]
Sent: Thursday, January 29, 2015 2:02 PM
To: paypal/PayPal-NET-SDK
Cc: Michael E Burr
Subject: Re: [PayPal-NET-SDK] How can we Receive Money using this IBAN ? Not mentioned any where else. (#58)

The FundingInstrument<https://github.com/paypal/PayPal-NET-SDK/blob/mas

[2015-01-29 21:43] jziaja commented on #58
Yup!  [Version 1.3](https://www.nuget.org/packages/PayPal/1.3.0) contains the changes and was just published.  [Direct downloads](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.3.0) are also available here on GitHub.

[2015-01-29 21:51] jziaja commented on #65
Sorry for the delay on this!  At this time, there's no plan on supporting the `GetBalance` operation with the REST API.

[2015-01-29 21:51] #65 closed

[2015-01-30 00:36] Jaans commented on #68
Brilliant! That works very well indeed. Thank you for the quick turnaround and support.

[2015-02-02 14:52] antonio-bakula opened #74 "UNKNOWN_ERROR causes exception in PayPal-NET-SDK"
I got UNKNOWN_ERROR from paypal (submiting a payment without state code for Canada or US) and when SDK processed this error in PaymentsException there was an null exception when that code tries to read from response details becouse there was no details and Details property was null.

Here is the JSON response from PayPal that causes this exception:

{
  "name":"UNKNOWN_ERROR",
  "message":"An unkn

[2015-02-02 16:30] jziaja commented on #74
Thanks for reporting this @antonio-bakula !  I'll include this fix in the next release.  I'm also going to forward this error to the payments team as it should be returning a 'missing data' data with a description of the missing field.

[2015-02-02 18:33] jziaja commented on #74
@antonio-bakula, do you mind sharing what the payment request looks like with the missing state information?  I'm trying to reproduce this, but I'm not seeing same UNKNOWN_ERROR response.  Thanks!

[2015-02-02 19:36] jziaja commented on #74
This actually looks to already be fixed in the current version of the SDK.  I originally thought your code snapshot was from the current repo, but it looks like that's from an older version of the PaymentsException class.  [It has since been updated to handle a missing details property](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Exception/PaymentsException.cs#L31).  If you upd

[2015-02-02 19:36] #74 closed

[2015-02-02 19:39] antonio-bakula commented on #74
Oh, sorry.

Here is the json request that causes that UNKNOWN_ERROR:

{
  "intent":"sale",
  "payer":{
    "payment_method":"paypal",
    "payer_info":{
      "first_name":"Antonio",
      "last_name":"Bakula"
    }
  },
  "transactions":[
    {
      "amount":{
        "currency":"EUR",
        "total":"5.00",
        "details":{
          "shipping":"0.00",
          "subtotal":"5.00",

[2015-02-02 19:41] jziaja commented on #74
Thanks! :)

[2015-02-03 07:47] AdamRiddick opened #75 "Question about SDK exception design strategy"
For the following payment request, I am receiving an empty Payment Exception;

[code]

[2015-02-03 08:05] AdamRiddick commented on #75
Ok, this isn't actually an Issue, but has turned into a question.

The PaymentsException is a child of HttpException, and somewhere up the chain they inherit from Exception.

Why does the PaymentException define it's own details page, and not utilise the mechanisms provided by .Net in the reporting of error messages? Through use of the Data, Message and InnerException fields, as intended?

[2015-02-03 17:20] jziaja commented on #75
Great question @AdamRiddick! :+1:   The state of the current exception handling is designed the way it is as a direct result from working with developers in the past here on GitHub.  As is the case with any open source project, if you have thoughts on a different way to approach dealing with exceptions, you're more than welcome to submit a pull request to this repo that includes your changes and a

[2015-02-03 18:34] jziaja commented on #75
Just so others are aware, the caught `PaymentsException` object in the above case will cause an exception to be thrown in the code that looks like the following when using the VS debugger:

![image](https://cloud.githubusercontent.com/assets/8227966/6026484/1f494a26-ab90-11e4-8be2-1a3a428a5639.png)

This is where I definitely agree that an improvement should be made with setting the `Message` prop

[2015-02-04 11:44] AdamRiddick commented on #75
Thanks for getting back to me with an explanation @jziaja.

I will look into spending some time through a pull request. None of the changes would be architectural, but to provide more visibility to the existing exception structure.

The `Details` property does provide a large range of useful information. Knowing it existed allowed me to solve my problems very quickly, however I feel the visibility

[2015-02-04 17:10] jziaja commented on #75
Great points, @AdamRiddick!  The current exception format is designed entirely around the notion of an object being caught somewhere, not via an error event like `Application_Error` where the exception object must be requested.  With that in mind, I definitely agree that populating the available `System.Exception` properties would give developers more flexibility in terms of handling the exception

[2015-02-05 15:08] jziaja commented on #70
Closing this issue as the questions have been answered.  Let me know if there's anything else you need help with. :)

[2015-02-05 15:08] #70 closed

[2015-02-10 17:05] martinsteel opened #77 "Documentation issue with NuGet package"
The PayPal developer site (https://developer.paypal.com/docs/api/) uses the wrong package name in the instructions to install with NuGet.

Instructions say ```nuget install PayPalRestApiSDK -version 0.5.0``` however there isn't a package called ```PayPalRestApiSDK```. I suspect they mean ```RestApiSDK``` although wouldn't it make more sense to suggest this package for new users?

Apologies if this

[2015-02-10 17:08] jziaja commented on #77
Thanks for reporting this @martinsteel!  And yes, this is definitely the right place to report this. :)  The documentation team is currently working on revamping that site, and they'll soon be removing the language buttons.  Along with removing those buttons, we'll be working on a newer documentation solution that gives the SDK team better control over the content that goes on the docs site.

I'll

[2015-02-11 19:32] jhallam3 opened #78 "Payment.get or Payment.list"
Hi There.

Im wanting to get the payment information for a particular transaction All I have is this code.

'PayPal Express Checkout Payment Received (Unique Transaction ID 7Y101347N5101833S)'

Ive hunted and hunted for two days now and cant see how to get this information.

Basiclly All I want is to get the details of that transaction in the c#.

Please help.

[2015-02-11 19:42] jziaja commented on #78
Hi @jhallam3, was that payment made using a REST or Classic (Merchant API) call?

[2015-02-11 19:47] jhallam3 commented on #78
Was from our booking system that is Wordpress plugging. Probably classic...

Out newer solution moving forward would use your new API. However we
get payments from the classic api from other sites.

Basicly I'm wanting to get details like address and amount in to our
internal system to create a PDF of the transaction.

Hopefully that can be done 😀

Fast response too that's great! Thanks! Good to k

[2015-02-11 20:01] jziaja commented on #78
If it's Classic, then you'll have to use the [Merchant SDK](https://github.com/paypal/merchant-sdk-dotnet) and call [`TransactionSearch()`](https://developer.paypal.com/docs/classic/api/merchant/TransactionSearch_API_Operation_NVP/) to get the transaction details.  I've received confirmation from the Payments team that they don't plan to include transactions made with Classic calls in the results

[2015-02-11 20:01] #78 closed

[2015-02-11 20:03] jhallam3 commented on #78
Thanks! I'll give that a go!

Regards

Jon Hallam

On 11 Feb 2015, at 20:01, Jason Ziaja <notifications@github.com> wrote:

If it's Classic, then you'll have to use the Merchant SDK
<https://github.com/paypal/merchant-sdk-dotnet> and call TransactionSearch()
<https://developer.paypal.com/docs/classic/api/merchant/TransactionSearch_API_Operation_NVP/>
to get the transaction details. I've received c

[2015-02-11 21:09] jhallam3 commented on #78
Is it possible to put the API Keys inside the code rather than xml? I'm
writing a .net class and want to pull them variables from our internal
database? I see it in xml however moving forward in a class would be better
if possible.

Regards

Jon Hallam

On 11 Feb 2015, at 20:01, Jason Ziaja <notifications@github.com> wrote:

If it's Classic, then you'll have to use the Merchant SDK
<https://github

[2015-02-11 21:35] jziaja commented on #78
Yup!  And now that you bring it up, it'd be nice if there was a blurb on the main README that showed this an alternative to using the web.config or app.config.

When you call `OAuthTokenCredential.GetAccessToken()` to get an `access token`, you'll need to supply the class with a configuration object containing your credentials and other information.  The configuration is just a `Dictionary<string,

[2015-02-12 14:05] darkducke opened #79 "How do I complete a payment transaction after PayPal redirects to my page?"
Hello, create a transaction and can redirect the user to the paypal page, but to complete the transaction, paypal redirects again to my page returning "guid=28&paymentId=PAY-1JA4888378933470CKTOK3EY&token=EC-1DB245768R4006834&PayerID=8G5NCSXGQ4E5Q" But is not generated any transaction in paypal, or the seller's account or the account the buyer, sandbox accounts, what's wrong? missing some step?

c

[2015-02-12 14:46] jziaja commented on #79
Hi @darkducke, great question! The last step you're missing is [executing the payment](https://developer.paypal.com/docs/integration/web/accept-paypal-payment/#execute-the-payment). :)

An example of this can be found in the [PaymentWithPayPal.aspx.cs](https://github.com/paypal/PayPal-NET-SDK/blob/master/Samples/Source/PaymentWithPayPal.aspx.cs#L144) file in the sample project.

Here's a slight mo

[2015-02-12 15:11] jziaja commented on #79
Doh, I forgot I updated the `Execute()` method with a static call option in a previous release, which would shorten the sample code from my previous reply slightly:

[code]

I imagine most merchants making this call are simply just needing to execute the payment using the provided `PayerID` and are not interested in overriding the `amount` or `shipping_address` associated with the payment (which i

[2015-02-12 15:13] darkducke commented on #79
Thanks for the help, is now generating transactions, plus the status is "pending", I used paypal balance, should not complete?
I do anything else to approve the customer's request and change the status?

thanks again!!! ;)

[2015-02-12 15:24] jziaja commented on #79
Sometimes processing the payment can take a bit, but it should only be a matter of seconds at most if you're using your PayPal balance.  Does the payment still show as `pending`?  If it does, it could be that you have payment review enabled on your account.  If you have one of the transaction IDs handy then I can look it up and verify if that's the case.

[2015-02-12 17:08] darkducke commented on #79
Transaction ID: 32W337694S572243U

[2015-02-12 19:28] jziaja commented on #79
Your transactions are going into [Payment Review](https://www.paypal.com/sg/webapps/mpp/security/sell-paymentreview).  In order to disable this, you will need do the following:

  1. Login to your [Developer Dashboard](https://developer.paypal.com/webapps/developer/applications/myapps)
  2. Click on **Accounts** under the _Sandbox_ heading
  3. Expand the facilitator account and click **Profile**

[2015-02-12 22:16] darkducke commented on #79
Thank you so much, your help was very helpful to me!

[2015-02-12 22:16] #79 closed

[2015-02-17 14:41] jziaja commented on #77
Documentation has been updated:

![image](https://cloud.githubusercontent.com/assets/8227966/6229872/87214108-b680-11e4-945b-2b7211aacea7.png)

[2015-02-17 14:41] #77 closed

[2015-02-19 16:22] jziaja commented on #75
@AdamRiddick, would you mind taking a look at the [improve-exceptions](https://github.com/paypal/PayPal-NET-SDK/tree/improve-exceptions) branch I just created?  Both the [`PaymentsException`](https://github.com/paypal/PayPal-NET-SDK/blob/improve-exceptions/Source/SDK/Exception/PaymentsException.cs#L25) and [`IdentityException`](https://github.com/paypal/PayPal-NET-SDK/blob/improve-exceptions/Sourc

[2015-02-25 09:58] abhishek4official opened #80 "INTERNAL_ERROR when retrieving payout status"
[code]

while getting the pay out status with batch ID

[2015-02-25 15:03] jziaja commented on #80
Hi @abhishek4official, is this issue happening consistently?

[2015-02-25 15:16] prashant-anand opened #81 "ECheck Payments"
Does the REST API support Electronic Check Payments? I combed through the entire code and found only couple of references to ECheck.

[2015-02-25 15:22] jziaja commented on #81
Hi @prashant-anand, unfortunately no, e-checks are not currently supported in the REST API.

Also, see my response in [Issue #58](https://github.com/paypal/PayPal-NET-SDK/issues/58#issuecomment-69363651) regarding why this and some other unsupported funding instruments made their way into the .NET codebase.

[2015-02-25 15:26] prashant-anand commented on #81
Ok Thanks for the prompt response.

[2015-02-25 15:26] jziaja commented on #80
I've been able to consistently reproduce this issue using an invalid batch payout ID:

![image](https://cloud.githubusercontent.com/assets/8227966/6373412/1f5a9ffa-bcd0-11e4-90f8-9269941bca7e.png)

@abhishek4official , is the batch payout ID you're using one that was created recently?  The Payouts service on sandbox was recently restarted, and there's a chance that some older batch payout IDs may

[2015-02-25 17:33] prashant-anand opened #82 "Address Verification"
Is there anyway to trigger Address Verification using the REST API?

When an incorrect billing address is submitted along with the credit card information when collecting a payment using the credit card, is the REST API going to fail the payment? I did not find any "Invalid Address" response in the code or the documentation.

[2015-02-25 17:57] jziaja commented on #82
Address Verification does currently get triggered using the REST API; however, it is a [known issue](https://github.com/paypal/PayPal-Python-SDK/issues/80) that AVS errors are currently not returned in REST CC payments.  Support for this is coming very soon in the form of a new FMF object that will be included with REST payment transactions that fail due to triggering a filter the merchant has set

[2015-02-27 07:36] tony0121 opened #83 "Pre fill is not working when creating a payment"
Is there any way can pre fill the 'email address' when using guest checkout? I've tried to use 'shipping_address' object to pre fill the 'name' and 'phone' on guest checkout page, but I can not find a way to send para 'email'.
'payer_info' object includes 'email', but it seems not work when setting 'paypal' to 'payment_method'.
I'm looking forward to hearing you about the method how to pre fill th

[2015-02-27 15:47] jziaja commented on #83
Hi @tony0121, please see [this issue](https://github.com/paypal/PayPal-PHP-SDK/issues/161) previously posted on the PHP SDK.

In short, prefilling the email address is not currently supported as it's not a required field for making the payment.

[2015-02-27 15:47] #83 closed

[2015-02-27 23:15] jziaja commented on #82
Hi @prashant-anand , version **1.4.0** ([GitHub](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.4.0) | [NuGet](https://www.nuget.org/packages/PayPal/1.4.0)) is now available and includes a new `fmf_details` property on [`Authorization`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/Authorization.cs#L68), [`Order`](https://github.com/paypal/PayPal-NET-SDK/blob/master

[2015-02-28 06:28] abhishek4official commented on #80
@jziaja Yes Payout ID was Created recently.

Well Thanks for response

[2015-03-02 10:47] abhishek4official opened #84 "Retrieve payout details - Always status is denied"
![capture](https://cloud.githubusercontent.com/assets/5192884/6439314/9a207360-c0f7-11e4-83ea-af1b854a0b5f.PNG)

[2015-03-02 15:37] jziaja commented on #84
Hi @abhishek4official , is this being done with a sandbox or live account?  Does the currency being used with the payout match the countries and currencies setup by the accounts the payout is attempting to send money to ([see PHP SDK Issue #220](https://github.com/paypal/PayPal-PHP-SDK/issues/220#issuecomment-71167657))?

[2015-03-02 15:40] #80 closed

[2015-03-04 09:14] abhishek4official commented on #84
It is on live Account

[2015-03-04 13:44] jziaja commented on #84
To verify you have Payouts (formerly known as Mass Payment) enabled for your REST application, you will need to perform the following steps:
  1. Login to your [developer dashboard on PayPal Developer](https://developer.paypal.com/webapps/developer/applications/myapps)
  2. In the **My REST apps** section, click your REST application to view its details
  3. At the bottom of the details page, find

[2015-03-06 11:14] tiffaa opened #85 "Get Changed Shipping Address w. Invoicing"
Hello,

i'm using the Invoice API to send invoices to customers. Sending the invoices works fine, and after the customer had paid the invoice, i can check for payments with

[code]

This works very well, but my problem is:
If the customer changes his shipping address within the payment process, how can retrieve the new shipping address? With `Invoice.Get`, the invoice object still holds the old sh

[2015-03-06 12:17] tiffaa commented on #85
Quick update: if i use `Payment.Get(apiContext), transactionId)`, i get this error:

[code]

[2015-03-06 14:08] jziaja commented on #85
Hi @tiffaa , thanks for reporting this behavior!

I'm testing this out on sandbox, and I'm seeing some really odd behavior by the API.  Along with **not** seeing any mention anywhere of the new shipping address in either the `Invoice` or `Capture` resource, I'm also seeing the following:

1. `Invoice.Get()` for a `PAID` invoice returns the associated payments in a JSON element titled **"payments"*

[2015-03-06 15:14] jziaja commented on #85
Quick update: I've escalated these issues internally.  The (PayPal-internal) ticket numbers are the following:

* **SRE-28278**: `invoice.payment_details` renamed to `invoice.payments`, and, `invoice.refund_details` renamed to `invoice.refunds` in an already-released API.  This breaks existing integrations as developers expect that critical information to be included in those pre-existing properti

[2015-03-06 15:18] tiffaa commented on #85
First of all,

thank you very much for your quick response!

When i do a `Invoice.Get(apiContext, "INV2-FSLE-L4EN-B8TM-NBRV")` i get this JSON response (i'll post just the interesting stuff)

[code]
However, in .NET the **"payments"** are stored in **"paymentDetails"**, because of this property:

[code]
So the **"paymentDetails"** look like this:

![paypal](https://cloud.githubusercontent.com/asse

[2015-03-06 16:16] jziaja commented on #85
Are you using a forked or custom version of this SDK?  The [current code for the Invoice object](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/Invoice.cs#L138) maps the `payment_details` property to a "payment_details" JSON element.

While it's great that code fix works, it's still a problem because the API should never change a field like that on a released version.  Or if t

[2015-03-09 10:35] tiffaa commented on #85
I'm using the latest compiled(!) `paypal.dll` from the SDK.

[2015-03-10 06:02] abhishek4official commented on #84
it is Already Checked

![capture](https://cloud.githubusercontent.com/assets/5192884/6569963/f39c113e-c718-11e4-9602-2d9ba44ef172.PNG)

[2015-03-10 14:34] jziaja commented on #84
Sorry for the delay, the `DENIED` status is being returned because the PayPal account you're using is registered in India, which has a zero-balance requirement for PayPal accounts.  Payouts requires a balance in the account to use when transferring money and, unfortunately, is not supported in areas that have a zero-balance requirement.

[2015-03-10 14:34] #84 closed

[2015-03-10 14:36] jziaja commented on #82
Closing due to inactivity. Let me know if you run into any issues using the newer `fmf_details` property.

[2015-03-10 14:36] #82 closed

[2015-03-10 15:36] prashant-anand commented on #82
Sorry for the delayed response. My first child arrived last week. what is the full form of fmf in fmfdetails. I am stiff figuring out on how to set this up and use for AVS and CVV.

[2015-03-10 15:43] prashant-anand commented on #82
Fraud Management Fiter. Looks like source code has what i am looking for. Now i need to figure out how to use this.

[2015-03-10 15:45] prashant-anand commented on #82
Looks like FMF should work for me. Thanks.

[2015-03-10 15:45] jziaja commented on #82
Yes, sorry, "fmf_details" is Fraud Management Filter details.  It should contain the relevant details and error codes associated with address verification failures and CVV failures when making payments.

[2015-03-10 16:08] prashant-anand commented on #81
Would be nice to know when the API can handle Electronic Check Payments as it is a very important form of payment for us.

[2015-03-10 17:05] jziaja commented on #81
Wow, I apologize, @prashant-anand  - I misinterpreted the question and was thinking of a non-PayPal-linked bank account at the time I answered this question.

The correct answer is **yes, eChecks are supported** since they're done by using a bank account that is linked to your PayPal account.  The `payment_method` will be `paypal` for these types of payments, and the buyer can choose to use their

[2015-03-10 17:54] prashant-anand commented on #81
When i say Electronic Checks what i really mean is ACH payments where a buyer is using a bank routing and account information to transfer money to the merchant in lieu of using a Credit Card. Is what you are describing above the same?

[2015-03-10 18:56] jziaja commented on #81
OK, so maybe I wasn't off with my original answer! :)  Currently, using a bank routing and account number (outside the context of a PayPal account) is not supported.  The Payments API team also has no guidance to provide on if or when this support might come.

The only currently-supported method of making a payment via the REST API using a bank account is if that account is linked to a PayPal acco

[2015-03-16 14:12] jziaja commented on #81
Closing - feel free to reopen if you have any other questions concerning eCheck payments or need further clarification on anything.

[2015-03-16 14:12] #81 closed

[2015-03-16 14:21] jziaja commented on #85
Hi @tiffaa, the Invoicing API team has unfortunately indicated that this behavior is something they do not plan to address in the current version of the API.  The team did say they would support this in their next version; however, there is currently no ETA on when to expect the next version of the API.

In the meantime, I'm going to work with the docs team to see if we can add some sort of discla

[2015-04-06 16:49] gidmeister opened #86 "Why is there no "mass pay" sample?"
I can't see any of the samples that does a "mass pay" to several people from a dot-net website, whether using REST or any other method.  Does this mean that "mass pay" is not supported?
Thanks.

[2015-04-06 17:02] jziaja commented on #86
Hi @gidmeister , Mass Pay was renamed to [**Payouts**](https://developer.paypal.com/docs/integration/direct/payouts-overview/) in the [PayPal REST API](https://developer.paypal.com/docs/api/#payouts).  The [samples project](https://github.com/paypal/PayPal-NET-SDK/tree/master/Samples) includes samples for each of the Payout operations:

![image](https://cloud.githubusercontent.com/assets/8227966/7

[2015-04-06 17:02] #86 closed

[2015-04-09 08:21] projectzerotohero opened #87 "Plan.List returns null merchant_preferences and payment_definitions."
Hi there!

I have this ActionMethod on my controller to get the list of Billing plans I created.

[code]

However, when the `Plan.List` method is called it returns the list of plans but with null `merchant_preferences` and `payment_definitions`.

May I know the reason behind this?

Thanks!

[2015-04-09 13:12] jziaja commented on #87
Hi @projectzerotohero , I'm seeing the same behavior which does seem very odd.  Doing a `Get` on an individual plan returns all the details, but for some reason the `List` call doesn't.  I'm reaching out to the API team with this question to find the reason behind it.  Ideally, `List` should return the full details of each plan and not a subset.

[2015-04-09 13:43] polyakova opened #88 "Payment.List returns all transactions independent of payeeId parameter"
I want to get all transactions of concrete user and do this request:
`var paymentList = Payment.List(apiContext, count: 10, payeeId: "MXGL8TNAPEY4J")`

It takes about 20 seconds (i believe it's too long for production environment) and returns me all the transactions for my merchant account.

In method documentation is written that Payee can be passed to filter transactions list:
 Payee identifier

[2015-04-09 14:31] jziaja commented on #88
Thanks for reporting this, @polyakova.  I'm seeing the same behavior when I try to search the payment history for any `payeeId'.  I'm reaching out to the API team to get clarification on why this is happening and will get back to you once I hear back from them.

Also, I agree that 20 seconds is way too long for a search operation to complete in a production environment.  When you make `Payment.Lis

[2015-04-09 14:48] polyakova commented on #88
@jziaja I didn't find correlation-id in headers. I found only Paypal-Debug-Id.

[2015-04-09 14:51] jziaja commented on #88
Ah sorry, that's the ID I meant. :)

[2015-04-09 14:52] polyakova commented on #88
Paypal-Debug-Id: "b3d1987c8cc5d"

[2015-04-10 12:50] jziaja commented on #88
@polyakova , I've opened two tickets with the API team regarding these issues:

The API team doesn't have an ETA on when these issues will be resolved, but they do think they are related.  They are currently in the process of identifying the root cause.  I'll keep you posted here as soon as I have more information to share.

[2015-04-11 02:31] projectzerotohero commented on #87
@jziaja Yes, that seems very odd.
I'll just wait for an update. Thanks.

[2015-04-11 03:05] Jaans opened #89 "APIContext.RequestId and DUPLICATE_REQUEST_ID errors"
Efficient resource usage would suggest a design that creates a single `APIContext` instance and reusing that until the contained OAuth `AccessToken` expires, at which point a refreshed `AccessToken` is obtained and then used to create a new instance of `APIContext`.

This approach works well for us, but we are seeing ***`DUPLICATE_REQUEST_ID`*** errors where the `PayPal-Request-Id` header used for

[2015-04-12 09:46] gidmeister opened #90 "Better documentation needed for samples"
Like many github projects, there is no documentation here.  If you give samples, have a readme that explains what each sample does!  If you give functions, don't just explain the arguments, say what the functions do!
And, have a task-based list: for instance: "how to make a payment from your website to a particular person" or "how to make a mass-pay to many persons from your web-site."
-- Gidmeist

[2015-04-12 22:58] juwlee commented on #90
@gidmeister I am not sure if you are looking for particular docs, but have you looked at [README](https://github.com/paypal/PayPal-NET-SDK/blob/master/README.md) or [wiki](https://github.com/paypal/PayPal-NET-SDK/wiki)?

Regarding method description, most methods have [this kind of doc](https://github.com/paypal/PayPal-NET-SDK/blob/master/Samples/Source/BillingPlanCreate.aspx.cs#L26) right before

[2015-04-13 12:14] jziaja commented on #89
:+1: Thanks for the request, @Jaans , and I completely agree that this functionality should be available in this SDK.  I'll see if I can work this improvement into the next release (1.5).

[2015-04-13 12:31] Jaans commented on #89
Thanks! that'll be great.
Any idea on the timings of the 1.5 release?

[2015-04-13 12:35] jziaja commented on #89
It will likely be a week or two after I get 1.4.1 officially released, which should be happening any day (just waiting to hear back from a specific merchant to see if the fixed compatibility issue with the Classic SDKs has been resolved).

[2015-04-13 13:04] jziaja commented on #90
@gidmeister:

This statement is patently false, as @juwlee pointed out.  There is documentation in this repository; just not the specific documentation you may be wanting.

This is already available when running the samples.  When you run the sample project, each sample item has a `Source` link that provides a view of the source code along with an explanation of what each call or object means.  Ho

[2015-04-13 13:42] jziaja commented on #87
@projectzerotohero , sorry for the delay.  The API team responded saying this is expected behavior.  Their explanation is that the `Plan.List` method provides a list of resources that contain just the basic plan information.  I informed them that along with this being confusing and undocumented, this results in a fair number of uses cases requiring an extra `Get` call for each plan because of the

[2015-04-13 18:30] gidmeister commented on #90
Thank you.  Right now, I am looking into how to make a payment from my website to a user who uses the website, in return for the user providing a service (the service would be commenting on videos).  So I looked at the REST API document, and found one call that seems promising: "Create a Payment".  The reason I use the word "seems" is that it requires a URL that Paypal goes back to on my own websi

[2015-04-13 18:52] gidmeister commented on #90
Another hurdle: I go to paypal-net-sdk-master/source, and find 3 solution files.  I assume they are for the same project, but different net frameworks.  When I try them, I get a message that I cannot run a class.  (in other words, they are not 'exe' projects, but just dll or class projects).  So I can't run the samples.
Thanks.

[2015-04-13 18:53] jziaja commented on #90
This is great feedback. :)  If you're confused about how to start using the SDK, then your best option is to follow the [Getting Started](https://github.com/paypal/PayPal-NET-SDK/wiki#getting-started) instructions.  It goes over how to get the SDK setup and begin using it.

It should be noted that the wiki portion of this repo is something that was added very recently.  So if there are pages or se

[2015-04-13 18:55] gidmeister commented on #90
I now go to the samples folder and try opening the project there with Visual Studio Express 2013 for Desktop:.  It tries to migrate the project.   I get this error message:
Migration Report -

 Source\PayPal.SDK.Sample.VS.2013.csproj: The application which this project type is based on was not found. Please try this link for further information: http://go.microsoft.com/fwlink/?LinkID=299083&projec

[2015-04-13 18:57] gidmeister commented on #90
I just saw your follow up comment ("great feedback").  I'll try your suggestions there.

[2015-04-13 19:11] jziaja commented on #90
I'm not overly familiar with the Express versions of Visual Studio, but it sounds like you may need to either install [Visual Studio Express 2013 for Web](http://www.asp.net/vwd) or get [Visual Studio Community 2013](https://www.visualstudio.com/products/visual-studio-community-vs).  Between the two, I'd recommend Visual Studio Community 2013 as it provides more flexibility with the types of proje

[2015-04-13 20:30] gidmeister commented on #90
For some reason I thought the solution files were meant to be run as a VS project, not a Web project.  I tried them with VS Express for web, and that does work.
It shows a list of operations, and that raises a question:
What is the difference between a payment and a payout?
Thanks.

[2015-04-13 20:58] jziaja commented on #90
One of the big differences between the two is that payments are typically used in context of an exchange of goods or services (e.g. when a customer wants to buy something from your website); whereas a payout is typically used for sending money to one ore more recipients (e.g. a site can send payouts to affiliates for referrals).

For more in-depth information, I'd recommend taking a look at the do

[2015-04-14 19:34] gidmeister commented on #90
I don't want to keep changing topics, but I took the sample and tried to convert it to VB, so that it would fit in with my current VB website.  There is one section of code that I have doubts about translating because I don't know if JSON is needed.  Can I just make a class called PayoutItem to make this work?:
  ' items = new List<PayoutItem>
        '        {
        '            new PayoutItem

[2015-04-14 21:50] jziaja commented on #90
@gidmeister, I'd recommend reaching out to the friendly developer community over on [StackOverflow](http://stackoverflow.com/) with that question.  They can help to show you the best way for converting C# syntax to VB.  I'll be honest in that I'm not overly familiar with whether or not VB allows for inline object instantiation like how the C# code is written.

[2015-04-16 12:53] gidmeister opened #91 "converting samples to vb.net"
I tried to convert the batch payout sample to vb.net, and I get 2 errors.
Those are:
1)
Value of type 'PayPal.APIContext' cannot be converted to 'PayPal.Api.APIContext'.
2)
'Public Sub AddNewRequest(title As String, [requestObject As PayPal.Api.IPayPalSerializableObject = Nothing], [description As String = ""])' is declared in project 'App_SubCode_CSCode.frmz3wkl.dll', which is not referenced by p

[2015-04-16 13:02] jziaja commented on #91
Which NuGet package(s) did you pull into your project?  `APIContext` is defined in the `PayPal.Api` namespace to avoid a namespace conflict with the older Core SDK (which was integrated into this SDK with the v1.0 release).

[2015-04-16 19:25] gidmeister commented on #91
Over time, I put in the "Paypal Merchant SDK" the "Paypal NET SDK", and I also have a class called 'Paypal' from earlier work.  I should probably delete absolutely any file that starts with the word 'Paypal' and try to reload only this SDK.  I'll keep you posted if that works.

[2015-04-18 00:21] projectzerotohero commented on #87
@jziaja , I see. I respect the team's decision but wouldn't it be better if the Plan.List method provides a list of resources that contains all the needed information?
Just saying.

[2015-04-19 10:45] gidmeister commented on #91
I'm getting nowhere.  But here is another approach.  I could retain every single file in the samples project, but modify them so they take arguments.  I mean that for instance with the "PayoutCreate" sample, I would modify it to take an array that I pass, so it creates a payout based on that array.  Then I recompile the whole thing.  So my question is: Is it as simple as:
1 copying the 'samples' f

[2015-04-20 13:47] jziaja commented on #91
That plan should work; however, I'm curious as to why the VB code to create the Payouts objects and call the Payouts interface on the SDK wasn't working.  Is the code you posted [here](https://github.com/paypal/PayPal-NET-SDK/issues/90#issuecomment-93032267) the part that wasn't working or are you encountering a different problem?

[2015-04-20 16:03] gidmeister commented on #91
The code that isn't working is the sample that Creates a payout.  I converted that to VB, and then I had to convert the page class that it inherits into VB, etc.  If you want to try and duplicate the problem I'm having, I can create a project for you and zip it up and upload it to skydrive.
-- Gideon

[2015-04-20 16:09] jziaja commented on #91
Can you share the code here that creates the Payout?  By "isn't working" do you mean you're getting a compilation error or an error returned from the API?

[2015-04-21 11:50] gidmeister commented on #91
I get compilation errors  so that I can't get to the run and test stage.

Here are 2 pages (the baseSamplePage is  needed for the createPayout page).  I used nuget to add the paypal net sdk, and the way I got the samples CS files to merge with my VB project was to create a special subfolder called CsCode in my APP_CODE folder, and then in my web.config, I put the following:
    <compilation debug=

[2015-04-21 11:52] gidmeister commented on #91
The web.config code had angle brackets and did not appear in the comment, so I'm putting it here
 [compilation debug="true" strict="false" explicit="true" targetFramework="4.5"]
      [codeSubDirectories]
        [add directoryName="CSCode" /]
      [/codeSubDirectories]

    [/compilation]

[2015-04-21 13:27] jziaja commented on #91
I updated your previous comment with Markdown formatting.  By default, Markdown assumes you're embedding HTML if you include raw tags.  You can always surround code elements with backticks (`` ` ``) to have them appear inline with text, or you can flag code blocks by surrounding them with a series of backticks.  Feel free to preview your previous comment to see how to do that. :)

[Daring Fireball

[2015-04-21 17:35] MLyons10 opened #92 "Odd issue when processing a payment"
I very well may be doing something wrong here, but I have noticed that the credit card processing is working flawlessly when run from within the debugger (VS), but when I run the application locally (With all dependencies carried over to the program folder), the payment doesn't process...

I realize this isn't much to go on here, and I'm willing to do whatever I need to in order to get this workin

[2015-04-21 18:35] jziaja commented on #92
@MLyons10 just curious, but is this happening on sandbox or the live service?  Since yesterday, we've been seeing a huge uptick in 500 errors related to overused credit card numbers on sandbox.

([_cc PayPal-node-SDK Issue #86_](https://github.com/paypal/PayPal-node-SDK/issues/86))

[2015-04-21 19:20] MLyons10 commented on #92
This is actually Live.  After finding that the code worked in the sandbox, I moved to Live and that's when I found the issue...

It's really very strange, as I can process the card without any issue ever while in the dev environment.  Run the program locally however and it fails...  I have tried catching the error, but nothing seems to catch it.

[2015-04-21 19:34] jziaja commented on #92
That is strange... Are you getting an HTTP error (e.g. 400, 500) or is a different exception being thrown?  Have you tried using an HTTP monitoring tool (I use [Fiddler](http://www.telerik.com/fiddler)) to view the request & response?

[2015-04-21 19:51] MLyons10 commented on #92
Thank you for your help.  I haven't been able to catch an error, as it just doesn't succeed for some reason.  I will try Fiddler and will report back for you.  I really appreciate the help with this.

I also just downloaded the current version, and realized that the dll's that I am using are different.  The .zip includes:

Newtonsoft.Json.dll
PayPal.dll

The version that I was using included:

New

[2015-04-21 19:54] jziaja commented on #92
Yes, the previous DLLs you were using are the older, deprecated version of this SDK.  The newer version just requires the two you downloaded.

You can view [this sample](https://github.com/paypal/PayPal-NET-SDK/blob/master/Samples/Source/PaymentWithCreditCard.aspx.cs) to see how to make a credit card payment using the latest version of this SDK.  Let me know if you have any trouble getting the new

[2015-04-21 19:56] jziaja commented on #92
Also, since you were using a pre-1.0 version of the SDK, you'll want to check out [this wiki page on the breaking pages introduced with the 1.0 release](https://github.com/paypal/PayPal-NET-SDK/wiki/Breaking-Changes#v10).  Mainly, some of the namespaces were changed to avoid namespace conflicts with the older Core SDK (which has since been integrated into this SDK).

[2015-04-21 20:12] gidmeister commented on #91
Thanks!

[2015-04-21 20:12] #91 closed

[2015-04-21 22:06] MLyons10 commented on #92
Thank you for your help.  I got the code reworked today and will test it thoroughly and report back by the end of the week.  Hopefully this will have resolved the issue I was experiencing above, but I will definitely let you know for certain.

Will I need to change the Catches that I had previously from:

catch (PayPal.PayPalException ex)

to:

catch (PayPal.PaymentsException ex)?

Also, I know th

[2015-04-21 22:30] jziaja commented on #92
You can, but it's not absolutely necessary.  Catching `PayPal.PayPalException` will allow you to catch both.  You could also use two catch statements if you'd like to make your exception handling more explicit:

[code]

I'm guessing the two IDs you're referring to are payment ID and the transaction ID, correct?  You're welcome to store either one, as each should allow you to access the other.  The

[2015-04-22 15:00] jziaja commented on #87
@projectzerotohero - Definitely agree with you on that, and the API team is taking this feedback into future consideration.  I'll close this issue once the PayPal Developer documentation has been updated to clarify this behavior.

[2015-04-23 01:22] projectzerotohero commented on #87
@jziaja  Ok. Thanks. I'm glad to contribute to the API. :)

[2015-04-23 17:14] MLyons10 commented on #92
Thanks for the help with this.

I was able to test a card number today using the new API and the necessary changes and I'm seeing the same thing.  Running the program directly the credit card processing just hangs, it never processes, and it never throws an error...  If I run it through VS in the debugger in order to determine what's going on and trouble shoot, it works perfectly...  The card gets

[2015-04-23 17:44] jziaja commented on #92
@MLyons10 would you mind sharing the code you're calling?  Also, just to clarify, this is only happening when running against the live service in Release mode?  Running against the live service in Debug mode works?

[2015-04-23 19:12] MLyons10 commented on #92
Sure.  Please let me know  your thoughts.  And correct, it works when debugging, but not when released or the executable is run directly.

        public static List<string> ProcessWithPayPal(string _CCNumber, string _CCType, string _CCCVV, string _CCExpiration, string _FName, string _LName, string _Address1, string _Address2, string _City, string _State, string _Zip, string _Amount)
        {

[2015-04-23 19:28] MLyons10 commented on #92
Those are both classes used for processing the payments through Paypal and getting the access token...  If you would like me to post anything else, please let me know.

Thanks,

[2015-04-23 22:33] jziaja commented on #92
Hmm, I'm not seeing anything that immediately jumps out at me.  Is the hang happening on the `var createdPayment = payment.Create(apiContext);` call?

[2015-04-24 04:40] Jaans commented on #89
Hi Jason

Just following up. Noticed 1.4.1 released earlier. Do you think we might see this released by the week of 11 May 2015?

Let me know if I can assist.
Thanks

[2015-04-24 12:54] jziaja commented on #89
@Jaans I'm currently working on the 1.5 release and plan to get this fix add very soon.  You're more than welcome to submit a pull request with the fix if you'd like to have it added sooner.  As for a timetable, the best I can give you is that we'll hopefully be able to provide a release in the next couple weeks.  The main feature for 1.5 is Webhook event validation, for which the code is mostly r

[2015-04-24 19:09] jziaja commented on #88
@polyakova , would you mind trying the search again using the `payee_id`?  The search issue should now be resolved on the live service.

The API team did respond that they are aware of the fact that some searches are taking a long time to complete.  Their suggestion is to reduce the search window by including `start_time` and `end_time` in the search parameters.  Would you also mind trying that ou

[2015-04-24 19:22] jziaja commented on #89
@Jaans I added a new [`ResetRequestId()`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/APIContext.cs#L82) method to `APIContext` (along with cleaning up the properties a bit and adding/fixing the XML comments).  I opted to call it "ResetRequestId()" instead of "Reset()" to avoid potential confusion regarding whether or not all the properties of `APIContext` would be reset.

[2015-04-25 04:53] Jaans commented on #89
@jziaja Thank you for that - makes perfectly sense. I had a look its good. Thanks again - I'm able to work with that. Are you thinking of a 1.4.2 release now instead?

[2015-04-27 17:14] Snipsnoop opened #93 "note_to_payee always null"
For some reason this field is always null. (In related_resources)
I would expect this to be populated when the payer adds a note during a payment.

Unless I am missing something?

To replicate. Use "Make a payment with a PayPal account".
Then during approval, add a note.
The note is not returned

[2015-04-27 17:22] Snipsnoop commented on #93
already reported in PayPal-PHP-SDK

[2015-04-27 17:22] #93 closed

[2015-04-28 18:10] MLyons10 commented on #92
Hi jziaja,

I believe so, but with me being unable to test this in the debugger, it's incredibly difficult to pin down.  I don't know how better I can determine where this error is occurring...

I want to try to build logging into the class so that I can get a .txt file or something detailing each line that completes, so I will try to do that over the weekend and will report back.

But I don't und

[2015-04-28 18:33] jziaja commented on #92
Out of curiosity (and something I just noticed when looking back over your code), is there a reason you're running the payment code inside the `finally` block for when you try and get an access token?  That part of the code is setup so that even if the method getting the access token throws an exception, it'll still try and make the payment call.  I don't think that would cause a hang, but may be

[2015-04-28 20:00] MLyons10 commented on #92
I will try that.  I thought that I needed to use a try / catch / finally in order to ensure that the access token was returned before running the payment...

If that is not the case, I can try that and report back on that as well.

Thanks,

[2015-04-28 20:15] jziaja commented on #92
The `finally` block just ensures the specified code is executed after the code in the `try` block completes, regardless of whether an exception was thrown or not.  The most common use-case is disposing of unmanaged resources or closing handles that might've been opened.

If an exception is thrown when attempting to get an access token, or if the access token is an empty string (which is how your `

[2015-04-29 16:17] jziaja commented on #89
@Jaans sorry for the delay in responding. 1.4.2 was just released and includes this fix.  :+1:

[2015-04-29 16:17] #89 closed

[2015-04-30 02:45] Jaans commented on #89
Thank you for this!

[2015-05-01 15:08] MLyons10 commented on #92
Alright, thanks.  I will try that this weekend and will report back.

Thanks,

[2015-05-01 17:49] jziaja commented on #87
[Developer documentation](https://github.paypal.com/pages/alette/paypal-developer-docs/api/#list-plans) has been updated to include this note.  Thanks again for bringing this to our attention!

[2015-05-01 17:49] #87 closed

[2015-05-02 20:44] gidmeister opened #94 "Null reference exception thrown when making SDK call with APIContext object with null Config property"
I make a VB project and used Nuget to link to "Paypal NET SDK".  Then I put in the web.config settings as follows:
[code]
This most definitely does not compile.  It does not know what the paypal section (above) is.  It says "could not find schema information for the element 'paypal' ".  Am I missing something?

[2015-05-02 20:54] gidmeister commented on #94
another try, my project does not compile with this web.config.  I did use NuGet to install the Paypal NET SDK in the project.
   <?xml version="1.0"?>
    <configuration>
    <configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    </configSections>
    <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5" />
    <httpRunti

[2015-05-02 20:55] gidmeister commented on #94
Is there no way to delete erroneous comments?  Anyway, here is another try:
    [?xml version="1.0"?]
    [configuration]
    [configSections]
    [section name="paypal" type="PayPal.SDKConfigHandler, PayPal" /]
    [/configSections]
    [system.web]
    [compilation debug="true" strict="false" explicit="true" targetFramework="4.5" /]
    [httpRuntime targetFramework="4.5" /]
    [/system.web]

[2015-05-03 13:55] Vincenttbk opened #95 "HttpException occurred when trying to use basic call."
Hi,

Im really new to .net and Im trying to make use of the SDK to help me make some call to get my transaction ID.

I've followed the "tutorial" but when I was trying to make a call, I got a HttpException.

"An exception of type 'PayPal.HttpException' occurred in PayPal.dll but was not handled in user code
Additional information: The remote server returned an error: (404) Not Found."

The code I

[2015-05-03 14:41] jziaja commented on #94
_(Cleaned up your markdown.  When you create an issue, you can also preview it beforehand to make sure everything is displayed properly.  For code markdown, you can also refer to the [Mastering Markdown - GitHub Guide](https://guides.github.com/features/mastering-markdown/) page, which has examples of how to post code blocks.)_

What version of VS Express are you using?  Can you share the SDK call

[2015-05-03 14:52] jziaja commented on #95
Hi @Vincenttbk, the 404 error indicates that the requested resource wasn't found using your supplied credentials.

To help figure out what's going, I have a few questions:
* Did you setup your web.config file with the appropriate PayPal settings?
  * _Refer to the [Configure the SDK](https://github.com/paypal/PayPal-NET-SDK/wiki/Configuration) wiki page for an example of how to properly setup the

[2015-05-03 15:19] Vincenttbk commented on #95
Hi,

I think so, I've copied the configuration, the configuration is as below, I've taken out my secret and ID.
<configSections>
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
  </configSections>

  <paypal>
    <settings>
      <add name="mode" value="sandbox"/>
      <add name="clientId" value="MyOwnID"/>
      <add name="clientSecret" value="MyOwnSecret"/>
    </settings>

[2015-05-03 16:27] jziaja commented on #95
Is the payment you're trying to lookup from a live or sandbox transaction?

[2015-05-04 01:05] Vincenttbk commented on #95
hihi!
Oh! Silly me, is it because I can't find a payment ID? It is not the 404 because there is a problem with an endpoint?

Thanks! Will try it out :)

[2015-05-04 03:52] Vincenttbk commented on #95
Hi,

The previous way works! Thanks!
Just another short question, Im trying to do a refund however i got a bad request.

My code are as follow:

                var payment = Payment.Get(apiContext, payResource);
                //To get out the Transaction ID

                var saleID = payment.transactions.Select(x => x.related_resources).Select(resource => resource.First().sale.id).First();

[2015-05-04 12:08] gidmeister2 commented on #94
I am able to compile it now.  VS 2013 was giving errors in the web.config even though the error was located in my code.  The web.config was fine.  Now I can run it, but I get an error :

PayPal.PayPalException was unhandled by user code   HResult=-2146233088   Message=Object reference not set to an instance of an object.

The line that gives that error is:

Dim createdPayout = payout.Create(apiCon

[2015-05-04 13:01] jziaja commented on #95
The exception thrown for a 400 error should include a `Response` property that explains what caused the error.  Would you mind sharing what response you received?

[2015-05-04 13:54] Vincenttbk commented on #95
Hi,

Is this what you are looking for?

{"name":"TRANSACTION_REFUSED","message":"The request was refused.{0}","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#TRANSACTION_REFUSED","debug_id":"da3b50630b270"}

Thanks :)

[2015-05-04 14:06] jziaja commented on #95
Thanks for the info, @Vincenttbk.  We're looking into it, as a transaction refusal could be for a number of reasons.  I'll followup here once I have more information.

[2015-05-04 14:46] jziaja commented on #94
Thanks for sharing your code, @gidmeister / @gidmeister2 .  I was able to reproduce this, and it appears to be caused from the `APIContext` object not having its `Config` property set.  This is a bug with the SDK as it should pickup the settings from the web.config if no config is provided.  I'll get this fixed in the next release.

For the time being, you can work around this issue by adding the

[2015-05-04 15:04] Vincenttbk commented on #95
Thank you @jziaja, Hope to hear from you soon! :)

[2015-05-04 15:55] jziaja commented on #95
@Vincenttbk we're unable to lookup the details for that transaction using the `debug_id` included with your previous response.

To help us out, would mind providing the following information:
* the ID of the `Sale` resource you're trying to refund
* date/timestamp (including timezone) of when you received the error

Thanks!

[2015-05-04 17:04] gidmeister2 commented on #94
I am running into another issue.  I ran the code, and then I checked the sandbox to see if the users who were paid were notified, and they received no notifications today.  I have to look into this further.

[2015-05-04 17:07] gidmeister2 commented on #94
Jason,
Thanks for the workaround with the apiContext.config:
I have the code running now, but I find that the users in the “sandbox” do not get notified of the payment.  This may not be a problem with the code at all, but I’m pasting the whole code here, and perhaps you may have an idea.  I also posted a brief comment on github.

Imports Microsoft.VisualBasic
Imports PayPal.Api
Imports System.Coll

[2015-05-04 17:14] tomwhipple commented on #94
@gidmeister2 EMail notifications are suppressed in sandbox, though you can check the [notifications section of developer.paypal.com](https://developer.paypal.com/developer/notifications) to see what is sent by the REST API.

[2015-05-04 17:20] MLyons10 commented on #92
I tried removing the code from the Finally and including all of the code in the same try / catch block and get an error that the AccessToken cannot be null...

My initial thinking was that the code will attempt to continue to run if all in the same block, so it could attempt to run the transaction before it has returned the AccessToken...  That was why I originally had the card processing in the F

[2015-05-04 17:45] jziaja commented on #92
When you create an `APIContext` object using an `access token`, [the constructor for `APIContext`](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/APIContext.cs#L28) is designed to do a quick empty/null check on the provided token.  The way you have your code setup, `GetPayPalAccessToken()` will return an empty string if an error is encountered while attempting to get the `acce

[2015-05-04 20:45] #94 closed

[2015-05-04 23:34] Vincenttbk commented on #95
Hi @jziaja, Im unable to find a timestamp, but I executed the logic around 0730am(GMT+8) time and the transaction ID is 3AW477265S101141M.

Hope that helps? :)

[2015-05-05 19:21] jziaja commented on #95
@Vincenttbk , thanks for sharing that information.  We were able to find out that the refund is failing because the original payment has a status of 'unclaimed' and is in a pending state until you accept or deny the payment.  The cause for this is the payment was sent in a currency different than the currency held by your facilitator account, and you have your account set up to manually accept/den

[2015-05-06 02:06] Vincenttbk commented on #95
Oh, I think because it is a sandbox account, that is why payments are not accepted automatically?
Thanks! I will try it out!

[2015-05-06 11:01] chkjamil opened #96 "VALIDATION_ERROR - transactions[0].item_list.items[0].height"
I am using following code for setting the item width, height and length

[code]

however while creating a payment, it throw the below mentioned error for `width`, `height` and `length`

[code]

The transaction is working fine after removing

[code]

Kindly advice me how to send dimentions to paypal

Regards,

[2015-05-06 12:55] jziaja commented on #96
Hi @chkjamil, great question!  I'm reaching out to the API team to find out why this is throwing a `VALIDATION_ERROR` and will circle back here when I have an answer.  Thanks!

[2015-05-06 13:44] chkjamil commented on #96
Hi @jziaja , thank you for taking up this issue.

Looking forward.

[2015-05-06 20:46] jziaja commented on #88
Closing this issue.  Please reopen this issue if you still encounter the issue.  Thanks!

[2015-05-06 20:46] #88 closed

[2015-05-07 14:22] jziaja commented on #96
@chkjamil, it turns out these specific fields are meant to be internal-only for PayPal and should not have been included in the 1.4 release of this SDK.  We're working with the API team to identify any other properties/objects that were included in the 1.4 release, and I will mark these fields as obsolete in the upcoming 1.5 release.

For now, you can interpret these errors as the API not supporti

[2015-05-11 05:29] chkjamil commented on #96
Thanks @jziaja

[2015-05-11 05:29] #96 closed

[2015-05-13 14:03] gidmeister2 opened #98 "is mass pay done with payout code (just with very large array)?"
I have your payout code working nicely, but I was wondering - is a "mass pay" done with that code, just using a very large array of addresses?  Will Paypal "understand" that this is a "mass pay" and allow the 250 (or whatever the limit is) people to be paid, with just one transaction fee for the bunch?
Thanks.

[2015-05-13 15:48] jziaja commented on #98
Yes, the Payouts API is the REST version of the classic Mass Payments service.  By creating a batch payout, you are effectively sending out a mass payment.  The transaction fee structure is outlined on the [Payouts Overview](https://developer.paypal.com/docs/integration/direct/payouts-overview/) developer doc page.  If you have any other questions specific to the transaction fees and how they are

[2015-05-13 15:48] #98 closed

[2015-05-14 16:15] MLyons10 commented on #92
Thanks jziaja, I appreciate your help.

I added these catches and can confirm that no errors are being caught.  When processing a payment now I get the following error:

System.ArgumentNullException: Value cannot be null.
Parameter name: AccessToken cannot be null
   at PayPal.Api.APIContext..ctor(String token)

It appears that it is now trying to process the payment before the AccessToken has bee

[2015-05-14 16:26] jziaja commented on #92
Are you saying that the line `AccessToken = tokenCredential.GetAccessToken();` returns an empty string in your `GetPayPalAccessToken()` call?  Also, would you mind posting your current code?

[2015-05-15 05:34] #85 closed

[2015-05-16 14:27] gidmeister2 opened #99 "Do you use strong types or just objects?"
I put in the following code to get details on a payout - to find whether it was successful, for instance.  But since I have 'payout' here as an object, I can't read any of its fields.  Is there a better declaration than 'as object' that I can use here?
Thanks:
[code]

[2015-05-18 11:22] akabii opened #100 "REST API Access to Refund Fee"
Can you please provide access to the transaction_fee on full/partial refunds (e.g. Refund.transaction_fee) just like we have in Sale.transaction_fee

[2015-05-18 13:36] jziaja commented on #99
`Payout.Get(...)` returns a [`PayoutBatch`](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Source/SDK/Api/Payout.cs#L71) type.  Try using `PayoutBatch` instead of `Object` for the `payout` type in your method signature.

[2015-05-18 13:36] #99 closed

[2015-05-18 20:21] jziaja commented on #100
Hi @akabii , I'll forward this feedback to the API team to see if it's something the plan to add and will followup here once I have more information to share.  Thanks!

[2015-05-19 21:00] jhallam3 commented on #78
Hi there,

Im looking at doing some work with PayPal and wanted to check which type of the SDK to use for subscriptions and what option is best with asp.net <http://asp.net/> MVC page.

Im lost with all the options available added complexity of MVC I’m really really lost and not sure where to go.

Any support would be amazing!

Thanks in advance.

Regards
Jon Hallam

Email:Jon.Hallam@Managed-Deskt

[2015-05-20 15:01] jziaja commented on #78
@jhallam3 , access to the [Subscriptions API](https://developer.paypal.com/docs/integration/direct/create-billing-plan/) is available in this SDK via the [Plan](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Source/SDK/Api/Plan.cs) and [Agreement](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Source/SDK/Api/Agreement.cs) classes.  There are also [samples available](https://github.co

[2015-05-22 12:03] pageroller opened #101 "Cannot load PayPal section from web.config"
Hello,

I am trying to set up PayPal in a new MVC5 web application.

Your documentation doesn't state that you need to add in the `<accounts />` element from the `<paypal />` section (only `<settings />`) so I had to dig through the code to add it in.

Sample code should look like this:

[code]

When `<accounts />` isn't there it throws this error:

[code]

I'm now getting this really strange erro

[2015-05-22 12:21] pageroller commented on #101
Seems like to only have broken in version 1.4.3. Rolling back to version 1.4.2 works ok for me.

[2015-05-22 13:10] jziaja commented on #101
Thanks for reporting this, @pageroller.  It looks like this might be related to some changes that were made with respect to declaring certain classes as `internal` instead of `public`.  I'll do some more testing and get this fixed ASAP.

Also, the `<accounts>` config section is only used by the older Classic SDKs and is not used by this SDK.  Are you using this SDK along with one of the Classic SD

[2015-05-22 13:15] pageroller commented on #101
The error disappeared when I downgraded it, so I think it may have been just something else triggering it internally.

[2015-05-22 13:35] jziaja commented on #101
I wonder if this could have to do with the fact that our build process performs the strong-name signing on the PayPal.dll file as a post-build process.  The `InternalsVisibleTo` assembly attribute was added so the unit test project could still test the `internal` classes.

It may be time to add the SNK as part of the project here on GitHub as it's beginning to cause more problems (along with compl

[2015-05-22 17:43] jziaja commented on #101
@pageroller would you mind sharing how you have your project setup along with what your web.config file looks like?  I tried reproducing this with both the Samples project here and a newly-created project, but I'm not seeing the exception thrown in either one.  I also tried running the projects both with and without an `<accounts>` section in the config, and it was able to be loaded just fine in e

[2015-05-22 17:58] jziaja commented on #95
@Vincenttbk were you able to resolve this issue by accepting the pending payment in your facilitator account?

[2015-05-22 18:00] jziaja commented on #92
@MLyons10 just checking in - are you still encountering this issue?

[2015-05-25 07:42] VickyMahir commented on #101
I have same issue while calling ConfigManager.Instance.GetProperties().
I have use PayPal.NET SDK version 1.4.3 .

So any one please tell me how to solve this issue?

[2015-05-25 13:04] jziaja commented on #101
@VickyMahir, the current solution if you're experiencing this issue is to downgrade to version 1.4.2.  Currently, I'm unable to reproduce the issue on my end so any details you can help provide would be great.

The following information should help in tracking down the cause of this bug:
* What does the `<paypal>` your application's **web.config** look like (please remove any live credentials)?
*

[2015-05-25 13:19] VickyMahir commented on #101
@jziaja , I have resolved issue in version 1.4.3 using below code so is it ok?

var apiContext = new APIContext(token);
                apiContext.Config = config; //PayPal.Api.ConfigManager.Instance.GetProperties();

                // Define any custom configuration settings for calls that will use this object.
                apiContext.Config["connectionTimeout"] = "10000"; // Quick timeout fo

[2015-05-25 13:26] jziaja commented on #101
@VickyMahir, what is `config` set to in your code?

[2015-05-25 13:27] VickyMahir commented on #101
@jziaja , Nothing in config file

[2015-05-25 13:32] jziaja commented on #101
I meant on this line in the code you posted above:

[code]

What is the value of `config` here?  Is it null or set to something else?

Also, are you using this SDK in combination with one of the Classic SDKs?

[2015-05-25 13:40] VickyMahir commented on #101
@jziaja , Value of config is

                var config = new Dictionary<string, string>();
                config.Add("mode", "sandbox");
                config.Add("clientId", clientID);
                config.Add("clientSecret", clientSecret);

I am using only PayPal NET SDK not any other SDK in my application.

[2015-05-25 13:51] jziaja commented on #101
Thanks @VickyMahir.  If you can reproduce this issue in a newly-created project, would you mind emailing me the zipped-up project files at jziaja@paypal.com?

[2015-05-26 16:42] MLyons10 commented on #92
I'm sorry, I haven't had a chance to get the code posted until now.

To answer your questions, I am still having this issue, and it does appear to be tied presently to the fact that the AccessToken is returning an empty string.  When I had this in a try / catch / finally, the payment processing code would not run until after the accesstoken had already been returned, so that was solving this issue

[2015-05-26 17:28] jziaja commented on #92
When the `AccessToken` is returned as an empty string when calling your `GetPayPalAccessToken()` method, are you catching an exception inside that method?

Also, have you tried [enabling logging](https://github.com/paypal/PayPal-NET-SDK/wiki/Configuration#log4net-config-settings-optional) with your application?  If you do, then whatever exception the SDK might be encountering will be logged for qu

[2015-05-28 03:49] pageroller commented on #101
Sorry for the delay - I've emailed you a copy of the solution with the issue replicated.

[2015-05-28 15:39] kenney777 commented on #101
@pageroller do you have .net framework 4.6 RC installed? if you check the registry @ HKEY_LOCAL_MACHINE\SOFTWARE\Microsoft\NET Framework Setup\NDP\v4\Full and if the "release"  key has a value of 393273 then you probably installed VS 2015. After removing the 4.6 RC from my system and reinstalling 4.5.1 it fixed the issue for me with the 1.4.3 nuget package.

[2015-05-28 16:16] jziaja commented on #95
Closing this issue. Please reopen it or contact [PayPal Merchant Technical Support](ppmts.custhelp.com) if you continue to experience the issue.  Thanks!

[2015-05-28 16:16] #95 closed

[2015-05-29 18:39] jziaja commented on #101
Thanks a **ton** to @kenney777 for discovering the issue with .NET 4.6 RC. :+1:

[Another developer on StackOverflow](http://stackoverflow.com/questions/30534590/unable-to-load-paypal-section-from-your-config) also encountered this issue and was able to resolve it by uninstalling .NET 4.6 RC.

The root cause for the issue looks to be that .NET 4.6 RC is a bit stricter when executing a strong-name

[2015-05-29 18:50] MLyons10 commented on #92
I am catching an exception, however it doesn't fire an exception, as when running in the debuger the AccessToken method has adequate time to populate.

This is not an issue of the AccessToken not being returned, it has to do with the fact that it is not returned fast enough.  That is why structuring this code in a try / catch / finally as I had previously had it worked.  I would argue that that is

[2015-05-29 18:58] jziaja commented on #92
Can you explain this a bit more?  Even if there is a small delay in getting the `AccessToken`, the code as you have it should wait until it's received before proceeding.  Are you getting a timeout of some sort?  Are multiple threads attempting to call this static method?

Another option for your application - have you considered just getting the `AccessToken` once and using it until it has expired

[2015-05-30 04:00] Jaans commented on #101
Regarding strong-name signing - I agree with your approach. This may be open source, but I for one would definitely want to know whether the binary I'm using is signed by PayPal or someone else who may have "fiddled" with it (given it's accessible to everyone). Users who build the SDK themselves, can provide their own key for strong naming.
Obviously this is IMO.

[2015-06-01 15:51] DukeNuken opened #102 "Need to support specifying custom logger in AssemblyQualifiedName format"
Hello.

I am tring to make my own logger based on BaseLogger abstract class.
In your SDK code I see strange logic in class LogConfiguration.cs it use privat splitters by simbol ',' and it makes a problem, because when I try put in web.config AssemblyQualifiedName to my own class it doesnt work. AssemblyQualifiedName usualy looks like that

"PayPalLogger"="PayPal.Sample.Core.PayPalTest, PayPal.Samp

[2015-06-01 16:03] harumburum opened #103 "How to implement custom logger based on BaseLogger?"
I'm trying to implement custom logger in .net sdk sample project (PayPal.SDK.Sample.VS.2013)

[code]
Here is my config

[code]

I fount that it is not working because in the PayPal.Log.Logger constructor method loggerType is always null

[code]

I've tried to specify qualified assembly name in the config parameter
[code]
but it still not words, because PayPal.Log.LogConfiguration splitting config

[2015-06-01 16:09] jziaja commented on #102
Hi @DukeNuken , thanks for reporting this!  It does look like the current logger format is not designed to handle `AssemblyQualifiedName` formats.  I'll need to play around with this a bit to see if specifying a qualified assembly name is at all possible in the current setup without breaking compatibility with existing users.

[2015-06-01 16:20] jziaja commented on #103
Hi @harumburum, thanks for reporting this!  I'm currently looking into the qualified assembly name issue with custom loggers in Issue #102.  Was the customer logger working for you in a previous release?

[2015-06-01 18:14] harumburum commented on #103
Hi @jziaja, I didn't use sdk before, looks like me and my colleague have posted same question in
#102, so I'm closing this one, thx.

[2015-06-01 18:14] #103 closed

[2015-06-01 21:27] jziaja commented on #101
Would yall mind trying out this beta release for version 1.4.4 and see if it resolves the .NET 4.6 RC compatibility issue?
* [GitHub](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.4.4-beta)
* [NuGet](https://www.nuget.org/packages/PayPal/1.4.4-beta)

For NuGet, you can run the following command in the Package Manager console to get the 1.4.4 beta:

[code]

I tested this build on Windows

[2015-06-02 08:44] hmemcpy commented on #101
Had the same issue with 1.4.3 (rolling back to 1.4.2 helped!)
Confirming 1.4.4 works - the issue is resolved! (Using VS2015 RC)
Thank you @jziaja!

[2015-06-02 12:12] jziaja commented on #101
Thanks for confirming, @hmemcpy!  I'll get this officially released by the end of today (want to run another round of tests on it first).

[2015-06-02 23:02] jziaja commented on #101
**1.4.4** is now released!
* [GitHub](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.4.4)
* [NuGet](https://www.nuget.org/packages/PayPal/1.4.4)

Thanks again to everyone here for all your help! :+1:

[2015-06-02 23:02] #101 closed

[2015-06-04 21:53] MLyons10 commented on #92
I'm working on some changes at the moment to try to see if I can get more information about this error.  As it is a hang somewhere after submitting the payment, I'm not sure what I can really get here however...

I did want to clarify a little bit the process I am using.  Here is a detailed step by step through my code structure.

Button Click:
    Collects the values needed to process the card.

[2015-06-05 12:37] jziaja commented on #92
Thanks for the clarification, @MLyons10!

Does this process employ a single `BackgroundWorker` per payment transaction or are you reusing the same worker for each transaction?  Would it be possible for you to provide a simplified code sample showing how you have it setup so I can replicate it on my end?  The symptoms make it sound like a race condition of some sort, which usually happens when you

[2015-06-06 09:06] harvinder83 opened #104 "Create credit card payment (Failed)"
The page PaymentWithSavedCard.aspx returns 404
{
  "name": "UNKNOWN_ERROR",
  "message": "An unknown error has occurred",
  "information_link": "https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERROR",
  "debug_id": "e12c1481d2f00"
}

Steps to replicate:-
1) Save card information to PayPal Vault (CreateCreditCard.aspx)
Copy ID from response
2) Use CardID in (PaymentWithSavedCard.as

[2015-06-08 09:43] rvparekh commented on #104
Any update on this.

The remote server returned an error: (503) Server Unavailable.
and
The remote server returned an error: (400) Bad Request.

Error.

and response is
{
"name":"UNKNOWN_ERROR",
"message":"An unknown error has occurred",
"information_link":"https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERROR,
"debug_id":"178efd72146a7"
}

Headers.

{PROXY_SERVER_INFO: host=slcsb

[2015-06-08 13:19] jziaja commented on #104
Hi @harvinder83 & @rvparekh, in both reported cases, I'm seeing timeouts in the sandbox API.  This is usually seen when you are testing with an overused credit card number on sandbox.  What credit card number are you testing with?  Have you tried a different number?  Thanks!

[2015-06-08 13:30] rvparekh commented on #104
I am using Credit Card Number from

http://www.getcreditcardnumbers.com/

for testing.

Regards,
----------------------------
Ravi Parekh

On Mon, Jun 8, 2015 at 6:49 PM, Jason Ziaja <notifications@github.com>
wrote:

[2015-06-08 13:31] parthshah999 commented on #104
Hi @jziaja I am facing similar issue too.

Request:
[code]
Response:
[code]
Even
https://devtools-paypal.com/guide/pay_creditcard/dotnet?interactive=ON&env=sandbox
returns error

[2015-06-08 13:52] jziaja commented on #104
Thanks for the information @rvparekh & @parthshah999!  I was able to reproduce this issue using multiple different credit card numbers on sandbox.

I've reported this issue to the API team (ticket# **PPPLPAYPT-128**) and will followup here once I have more information.

[2015-06-08 14:18] MLyons10 commented on #92
Certainly.  I will put that together now.  How would you like me to get that to you?

Thanks,

[2015-06-08 14:21] jziaja commented on #92
A Dropbox (or similar cloud storage) public link would be great! :+1:

[2015-06-08 17:35] jziaja commented on #102
**v1.5.0-beta** has been published ([GitHub](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.5.0-beta) | [NuGet](https://www.nuget.org/packages/PayPal/1.5.0-beta)) that includes support for a new `<appSettings>` key called `PayPalLogger.Delimiter`.  This key will override the delimiter used to parse the `PayPalLogger` string (the default will continue to be `,` for backwards compatibility

[2015-06-09 16:14] MLyons10 commented on #92
Hi jziaja,

I put together that sample and it is exhibiting the same behavior.  I built in some logging to log the catches when not being run in the debugger (Not sure why this didn't occur to me prior).

Now, keep in mind that this issue is different from the issue I was experiencing prior, but I am logging an error that:

A general exception was thrown from the SDK.
PayPal.ConfigException: Canno

[2015-06-09 16:34] jziaja commented on #92
I updated your comment with markdown tags for posting code and doing the syntax highlighting ([here's](https://guides.github.com/features/mastering-markdown/#syntax) a handy guide on how to do it).

Which version of the SDK are you using?  A bug was recently fixed in [version 1.4.4](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.4.4) related to loading the config if you also have .NET 4.

[2015-06-09 17:41] jziaja commented on #104
This should now be resolved.  Please reopen this issue if you are still encountering the error.  Thanks!

[2015-06-09 18:07] MLyons10 commented on #92
Thank you for your help.  I just updated to 1.4.4, however am still getting that error.  Looking at the Config, I don't honestly see an issue...

I did just try again, and from within Visual Studio, the credit card processes perfectly without any issues.  It didn't even log an error in the error log...

Here is a link to the ziped sample project: https://onedrive.live.com/redir?resid=f80185c8def04

[2015-06-09 18:40] jziaja commented on #92
@MLyons10, I'm removing the link with the project because I noticed you're using your live account credentials in the sample.  I'll be testing this against sandbox.

One more question - is your project for a web or desktop application?  The sample project you provided is a WinForms application, which is fine for demonstration purposes; however, this SDK is meant to be used in a server environment

[2015-06-09 18:50] MLyons10 commented on #92
Oh, I'm sorry, I meant to remove that...  Thank you for removing that link.

I am using this in a desktop application.  Is that not supported?

[2015-06-09 19:00] jziaja commented on #92
If this is for a personal application, then that should be fine.  If this is for an application that others will be running on other systems (e.g. POS systems), then that is not supported.  The reason is that on a desktop environment (and mobile devices falls under the same umbrella), your account details used by the SDK are not considered to be secure - even if you embed the account credentials i

[2015-06-09 20:54] jziaja commented on #92
@MLyons10, I was able to get your project working, but it required a couple changes:

1. `ProcessCCTimer_Tick()` needs to check the size of the `CCList` array before you start indexing into it.  When I attempted to use sandbox credentials and left the `mode` set to `live`, I correctly got a 401 error response.  However, this method was still attempting to extract missing data from the list which c

[2015-06-11 21:01] Zartexx opened #105 "Payment.Create not working"
I am attempting implementation of the REST API.
but can't get past the line:
Payment ZeroChargedPayment = pymnt.Create(PAC)
all it tells me is UNKNOWN_ERROR
![paypalerror2](https://cloud.githubusercontent.com/assets/12850728/8118065/d27f10ce-1041-11e5-8ae8-d526affe7e00.png)

some debug_ids
9916dd16fade6
ebca6a2b07079

I also tried with the Details() in the Amount() and adding the ItemList() to the

[2015-06-11 21:03] jziaja commented on #105
_CC [previous discussion on the PHP SDK](https://github.com/paypal/PayPal-PHP-SDK/issues/173#issuecomment-111262414)_

[2015-06-11 21:04] jaypatel512 commented on #105
Just to confirm, are you trying to create payment using credit card, or vault ?

[2015-06-11 21:06] Zartexx commented on #105
The plan is:
User enters CC info on our site, I vault it and store the Vault # in our database.
then when the "Event" occurs, we will charge their CC by using the Vault id.

[2015-06-11 21:21] jziaja commented on #105
@Zartexx can you try using the [sandbox credentials used by the .NET SDK sample project](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/Web.config#L15) in your project and see if it's able to create the payment successfully?  That will help to rule out whether or not it's an issue with your account.  Thanks!

[2015-06-11 21:22] jaypatel512 commented on #105
Make sure to create a new Vault Token, as vaults are specific for each merchant (clientId).

[2015-06-11 21:27] Zartexx commented on #105
I haven't been saving the vault tokens, If the CC Validation fails, no save occurs.
ok, changed ClientID and Secret to sample, but only got back:
The remote server returned an error: (401) Unauthorized.

[2015-06-11 21:35] jziaja commented on #105
Are you authenticating and vaulting using those sample project credentials prior to making the `Payment.Create()` call?  If so, can you share the code you're calling?

[2015-06-11 21:47] Zartexx commented on #105
"PAC" is the local instance of the internal static class Configuration (copied from sample app)

First, when user is on web site we add the CC to the Vault:
[code]

[2015-06-11 21:59] Zartexx commented on #105
Then, later when the event occurs:
[code]

[2015-06-11 22:03] jziaja commented on #105
Can you share how `PAC` is being setup?

[2015-06-11 22:07] Zartexx commented on #105
PAC:
[code]

[2015-06-11 22:34] jziaja commented on #105
Thanks for sharing your code @Zartexx.  I was able to successfully authenticate, vault, and create a payment using your code with the sample sandbox credentials.  To do so, I set the following in the `Configuration` class:

[code]

I am also setting `PAC` by doing the following:

[code]

Can you confirm if that's what you're doing in your code?

Regarding your question from the code about calling

[2015-06-11 22:41] Zartexx commented on #105
Yes on the PAC:
[code]
About the validate, if I change intent to order will I need to void it after?
is the create payment correct then?  It got confusing how to complete a charge.

[2015-06-11 22:44] Zartexx commented on #105
Tried the Order (debud_id 642be276f4cdb )
it looks like it wants me to use "authorize"?

642be276f4cdb VALIDATION_ERROR Invalid request - see details
intent For DCC transactions, allowed payment intent is Sale or Authorize

{"intent":"order","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card_token":{"credit_card_id":"CARD-1NX46819DV6935036KV5A5NQ","expire_month":11,"expir

[2015-06-11 23:02] Zartexx commented on #105
I just noticed the ClientId you posted:
AUASNhD7YM7dc5Wmc5YE9pEsC0o4eVOyYWO9ezXWBu2XTc63d3Au_s9c-v-U
AQKvrsvZmSlgnMvpb6wTGaL3pgvF-AWcfSwZsFNMT67ynr-44BnbJY6E9_xpff3eukRwSdK1PoVOpUBD

is different from the one i pulled from PayPal Sample, am I grabbing the wrong id? or are they variable in length?

[2015-06-12 13:19] jziaja commented on #105
The current sample project credentials were created sometime last year when PayPal was generating 60-character credentials for REST apps.  I believe current REST apps have 80-character credentials.  However, both sets of credentials should work.  Do you mind sharing where you're getting the 80-character sample credentials from?  I just want to check and make sure there aren't out-of-date credentia

[2015-06-12 14:10] Zartexx commented on #105
I got the ID's from this page:
![paypalerror9](https://cloud.githubusercontent.com/assets/12850728/8131837/f39730ee-10d1-11e5-9365-98b2a5253a9d.png)

So when the "Event" occurs and a charge is made,  I need to authorize it first?

[2015-06-12 14:39] jziaja commented on #105
Yes, that's the correct page.  Something else to try - if you're still getting the 400 error when making the payment, try creating a new REST app and see if the credentials from there work.

By "Event", do you mean the user on your site trying to make a purchase?  I was going by the code you've written where it looks like you're trying to verify the card is authorized to make a charge.

[2015-06-12 14:44] Zartexx commented on #105
The business model is: someone creates an account, we vault their credit card, then weeks or months later when the business event occurs, they will be charged.  They wont be present (on the site) at the time of the charge, which is why we needed direct payment.

We only authorized the payment upon vaulting to make sure the credit card is real and valid.
The charge method I provided, do I need to a

[2015-06-12 16:25] jziaja commented on #105
Your charge method shouldn't need authorization since it was already done when the card was vaulted.  All you'll need to do for the charge is do a `sale` like you're doing with the vaulted card ID.

The one step missing from the code above is to void the authorization (by calling `Authorization.Void()`, which you have commented out in your code) after you've verified the card can be charged succes

[2015-06-15 09:27] Vincenttbk opened #106 "Unauthorized when trying to get transaction ID"
Im trying to get a transaction ID while making payment.

Everything seems to be working fine on the sandbox but when i transfer to live, everything is not working.

Here are the information
PayId: PAY-9AD55367K99802132KV7JQBI
The remote server returned an error: (401) Unauthorized. at PayPal.Api.HttpConnection.Execute(String payLoad, HttpWebRequest httpRequest)
 at PayPal.PayPalResource.ConfigureA

[2015-06-15 15:38] jziaja commented on #106
Hi @Vincenttbk, just to make sure, is your application setup to use your **live** REST app credentials when you request an access token?

[2015-06-16 04:58] Vincenttbk commented on #95
Hi, Sorry, I think its a configuration issue, I tried using apiContext in my .net logic to get the mode which is live, but it is grabbing from my web.config.

[2015-06-17 19:55] Zartexx commented on #105
Spoke with PayPal today, they fixed it, some sort of back end issue.

[2015-06-17 19:59] jziaja commented on #105
Glad to hear you got it fixed! :+1:

[2015-06-17 19:59] #105 closed

[2015-06-18 06:05] CodingSamurai commented on #75
I have to admit that this issue threw me when I was initially developing against the newer API.  The top level exception being blank made me think that somehow the API was broken because of credentials or something else, not that there was an underlying error.

So at the very least it would be nice to have a top level error message and then dive into the details object for the nitty gritty of what

[2015-06-18 13:22] jziaja commented on #75
@CodingSamurai, the issue about the top-level exception being blank should have been resolved in version 1.4 of this SDK.  Are you saying it's still blank?  If so, can you share the situation in which you caught the exception with a blank message? Thanks!

[2015-06-18 13:33] CodingSamurai commented on #75
Yes it was still blank for me. I updated the package with NuGet and was doing a sale payment with order items. I was specifically seeing it with the following two errors:

1.) Missing recipient name in shipping address
2.) Incorrect CVV length

----- Original Message -----

From: "Jason Ziaja" <notifications@github.com>
To: "paypal/PayPal-NET-SDK" <PayPal-NET-SDK@noreply.github.com>
Cc: "Daivd L"

[2015-06-18 14:10] jziaja commented on #75
I just tested this using the sample project and the latest version 1.5 of this SDK.  Here are the exceptions caught for each of the cases you mentioned:

_Missing recipient name in shipping address_
![image](https://cloud.githubusercontent.com/assets/8227966/8233010/64b0b82e-1599-11e5-88c5-d9072b3945e6.png)

_Incorrect CVV length exception_
![image](https://cloud.githubusercontent.com/assets/82279

[2015-06-18 14:43] MLyons10 commented on #92
I'm sorry about the delay.  I will take a look at your post tomorrow.  Thank you very much for your help.  :)

[2015-06-22 14:50] jziaja commented on #102
[Version 1.5.0](https://github.com/paypal/PayPal-NET-SDK/releases/tag/v1.5.0) is now published and includes this fix.

[2015-06-22 14:50] #102 closed

[2015-06-29 17:58] jziaja commented on #106
@Vincenttbk, are you still encountering this issue?

[2015-06-29 18:00] jziaja commented on #92
Closing this issue.  Feel free to reopen it if you still feel like there's a problem with the SDK.  Thanks!

[2015-06-29 18:00] #92 closed

[2015-07-01 16:05] jziaja commented on #106
Closing due to inactivity. If you're still experiencing this problem, I'd recommend contacting [Merchant Technical Support](https://www.paypal.com/mts) to talk to someone directly. Thanks!

[2015-07-01 16:05] #106 closed

[2015-07-06 09:13] Vincenttbk commented on #106
Opps, Sorry, Was away for a awhile. currently it has been fixed!

Once again! Sorry for the delay

[2015-07-15 05:52] biapar opened #107 "Is there an example for PayPal Express and recurring payments?"
Is there an example for PayPal Express and recurring payments? ( Italy market )

[2015-07-15 12:57] jziaja commented on #107
Hi @biapar, the [samples project](https://github.com/paypal/PayPal-NET-SDK/tree/develop/Samples) in this repo contains samples for both the Payments API (equivalent to Express Checkout) and the Subscription API (equivalent to recurring payments).  For a more detailed explanation of each API, I'd also recommend checking out the documentation on [PayPal Developer](https://developer.paypal.com/docs/i

[2015-07-15 12:57] #107 closed

[2015-07-17 05:24] harvinder83 opened #108 "Update Credit Card information for recurring payment profile"
I am looking for API to Update user credit card information in a recurring payment profile.

[2015-07-17 13:55] jziaja commented on #108
Hi @harvinder83, at this time the funding instrument cannot be updated with an executed billing agreement.  You will need to create a new billing agreement with the updated information.  The API team is aware of this issue, but I do not have a timeframe of when it will be addressed.

[2015-07-17 13:55] #108 closed

[2015-07-17 14:13] baroale opened #109 "Shipping address override"
Hello, I have used your SDK to integrate an e-Commerce site with PayPal and I am having an issue which I can not solve.

I get a 400 error when trying to create a payment overriding the address (`shipping_address` in `item_list`) telling me that many fields of the `ShippingAddress` class are not accepted by the API in this type of requests (`default_address`, `preferred_address`, `status` and `id`

[2015-07-17 14:38] jziaja commented on #109
Hi @baroale, would you mind sharing your code for setting up the item's `ShippingAdress` prior to creating the payment?  Thanks!

[2015-07-17 14:53] baroale commented on #109
No problem. `FlowAddress` is the model we use in our system for addresses. `ShippingAddress` is your address.

I use automapper for getting your model:

`Mapper.CreateMap<FlowAddress, ShippingAddress>()`
                 `.ConstructUsing(src => new ShippingAddress`
                  `{`
                      `line1 = src.Line1,`
                      `line2 = src.Line2,`
                      `cit

[2015-07-17 15:35] baroale commented on #109
I am attaching the error I get:

`{"name":"VALIDATION_ERROR","details":[{"field":"transactions[0].item_list.shipping_address.id","issue":"This field name is not defined for this resource type"},{"field":"transactions[0].item_list.shipping_address.default_address","issue":"This field name is not defined for this resource type"},{"field":"transactions[0].item_list.shipping_address.status","issue":"T

[2015-07-18 17:00] jziaja commented on #109
Thanks @baroale.  The code is setup to not serialize those fields if they're set to null.  Can you confirm whether or not AutoMapper is setting those fields to null?  Also, are you able to capture the outgoing request body to see what those fields are being set to?  You can inspect what the outgoing request body looks like by either enabling logging or by inspecting `PayPalResource.LastRequestDeta

[2015-07-21 10:42] baroale commented on #109
Hello @jziaja , it looks like automapper was setting some fields wrong. In fact, if I create the ShippingAddress object by myself everything works fine. Anyway, when I pass the shipping address I want to set for the transaction, paypal does not give it to me as the default option when I get redirected to paypal.com. Instead I see the first confirmed address in my test user account. Do I need to se

[2015-07-21 16:54] jziaja commented on #109
@baroale are you testing against live or sandbox?  I just tried this with the sample project on sandbox using using an experience profile similar to how you have yours setup, and I see the shipping address I provide when authorizing the payment on the PayPal site:

![image](https://cloud.githubusercontent.com/assets/8227966/8806174/02d5c8bc-2f9b-11e5-9b39-79e1607a6414.png)

**Test experience profi

[2015-07-22 08:32] baroale commented on #109
Hello, ?I was finally able to make it work using the sandbox. Thank you very much for your help and time @jziaja
The whole problem was originated by Automapper and NHibernate. First of all, automapper was setting weird values to fields I was not intending to set in the ShippingAddress class, and second, NHibernate not flushing the session when I selected the address.
The API is completely fine.
So

[2015-07-22 08:32] #109 closed

[2015-07-22 18:08] jeffgrove commented on #105
I'm hitting the same issue, with basically identical code. I'm saving a card to the vault (client side) and then trying to use the card token on the server side to authorize. I'm not setting the token expire year and month as according to the docs it isn't required but it fails for me even when I do. I guess I'll contact support.

[2015-07-23 16:36] jaypatel512 commented on #105
Hey @jeffgrove !

Please contact merchant support. It seems like few older accounts failed to migrate successfully in one of the migrations. They would be able to reset the configuration to enable you to use your app.

[2015-07-23 16:52] jeffgrove commented on #105
@jaypatel512
Good suggestion, thank you!

[2015-07-29 03:37] GuilMagalhaes opened #110 "Please update reference to Newtonsoft.Json to 7.0"
The current reference is not up to date with the latest release version of Newtonsoft.Json; causing assembly linking to break.

To avoid users having to manually add assembly binding rules, please update the reference to the latest Newtonsoft.Json release.

[2015-07-29 13:43] jziaja commented on #110
Thanks for pointing this out @GuilMagalhaes.  I'll see if I can the dependency updated in the next release.

[2015-08-06 03:50] #110 closed

[2015-08-12 17:33] urbietav opened #111 "Payment Patch Request Issue"
The PayPal.Api.Payment.Update for  a payment patch request always returns exception "The remote server returned an error: (400) Bad Request" and the response payment patch request message "Payment_State_Invalid". I tested a billing plan patch with now issues but no success on the Payment Patch Request.

[2015-08-12 17:42] jziaja commented on #111
@urbietav can you share the details of the patch request you're making as well as the initial state of the payment resource?  Can you share the full body of the error response you're receiving?  Thanks!

[2015-08-12 17:43] jaypatel512 commented on #111
Hey @urbietav !

It seems like you are trying to update the payment once it is completed/executed. Can you please confirm that ?

[2015-08-12 17:57] urbietav commented on #111
The payment status is "created" and not executed yet. From my understanding, you are allow to make a payment patch request for "created" status. The request and response are below. I replaced payment id & Bearer for "x"s.
=============================================================================
Request:
{PayPal.Api.RequestDetails}
Body: "[{\"op\":\"replace\",\"path\":\"/transactions/0/amount\"

[2015-08-12 17:58] urbietav commented on #111
Sorry somehow the text was got bold. My apologies

[2015-08-12 18:06] jaypatel512 commented on #111
My first observation:

You should be using PatchObject instead of requestDetails. Not sure if you are from the logs, but if not, here is a tiny sample, on how to do this in billing. You just need to implement similar in payments :
https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/BillingPlanUpdate.aspx.cs#L29

[2015-08-12 18:20] urbietav commented on #111
I actually did take a look the billing plan update sample and followed it but for the payment. The objects I am using for the request are below. The request output and the response details I provided are the outcome of the below.

PayPal.Api.Payment pmt = PayPal.Api.Payment.Get(apiContext, paymentId);

PayPal.Api.PatchRequest payReq = new PayPal.Api.PatchRequest();
PayPal.Api.Details pmtDetails =

[2015-08-12 18:24] urbietav commented on #111
here are some other details on how the objects is created:

pmtDetails.subtotal = string.Format("{0:0.00}", cart.SubTotal);
pmtDetails.shipping = string.Format("{0:0.00}", cart.Shipping );
pmtDetails.tax = string.Format("{0:0.00}", cart.Tax);

PayPal.Api.Amount amount = new PayPal.Api.Amount() { currency = "USD", total = string.Format("{0:0.00}", cart.Total), details = pmtDetails};

 PayPal.Api.Pa

[2015-08-12 18:27] jaypatel512 commented on #111
That is wondeful. This really helps understand better. I am trying to see if I could reproduce the issue in our local machine, and see if I can point out the issue.

[2015-08-12 19:26] jaypatel512 commented on #111
I have asked the internal team about this, as I am not able to get the reason why it is failing for you. I will get back to you as soon as I hear back from them. It should be quick.

[2015-08-12 19:50] jaypatel512 commented on #111
Hey @urbietav !

Just making sure here. When you create the above payment, has the user already completed the UI flow approval process ? and you are trying to change the values before executing ?

The update payment is only allowed when you create the payment, and is not approved by customer. Once the consumer completes the approval process, you are not allowed to update the payment.

[2015-08-12 21:21] urbietav commented on #111
That is correct. I am using the approval HATEOAS link to direct user to paypal. The flow I am seeking is User is directed to paypal for checkout >> returns to a review page where the tax + shipping is added based on the paypal shipping address >> User confirms and click Pay (this is the Update) >> user is redirected to a conformation page. Is this possible and I am using the wrong HATEOAS link ?

[2015-08-12 21:30] jaypatel512 commented on #111
Oh ! In that case, you need to use a different way of doing this. Updating the payment is not the way. The execute object allows you to pass the transaction object where only amount object could be set to different value.

You can read more about it here: https://developer.paypal.com/webapps/developer/docs/api/#execute-an-approved-paypal-payment

Here is the snippet of it.

![screen shot 2015-08-1

[2015-08-12 21:30] #111 closed

[2015-08-12 21:40] urbietav commented on #111
Oh, I see. I will try this way and see if it works out. Thanks

[2015-08-20 14:22] ckilyk opened #112 "Updating a customers existing billing agreement"
I am having a hard time updating a billing agreement to change the tax amount that is being charged.  I can't seem to get the API to jive with my code.  The end goal here is to change the tax amount that is being charged.

Here is the agreement I am trying to update:

[code]
I have tried different permutations of the Path property which never seem to work.

[code]

This is the error I receive back

[2015-08-20 16:02] jziaja commented on #112
@ckilyk Updating an agreement currently only works if you provide an `Agreement` object for the `patch.value` field, with the `patch.path` field set to just "/".  Unfortunately, at this time, updating anything in the `plan` field of an executed agreement is not supported.

As a test, I did the following using the [BillingAgreementCreateAndExecute.cs](https://github.com/paypal/PayPal-NET-SDK/blob/d

[2015-08-20 16:05] jziaja commented on #112
I'd recommend contacting [Merchant Technical Support](https://www.paypal-techsupport.com/app/ask/) and giving your use case to them.  That can help put this feature request in front of the subscription team.

[2015-08-20 16:05] #112 closed

[2015-08-20 16:37] ckilyk commented on #112
Hey thanks @jziaja for clearing this up.

I honestly didn't expect this fast of a response, that was quite pleasant.  Thumbsup.gif.

[2015-08-23 13:30] PrisonerZERO opened #113 "All The Project Pages from Download Buttons Zip File are Empty"
All the ASPX files in the 2013 project are empty...

[2015-08-23 13:35] #113 closed

[2015-08-24 23:11] itry-dev opened #114 "GetVerifiedStatus, which sample use in sample's sdk?"
Hi,
could you provide, or tell me where is it in samples folder, a script that can verify a user account?
thanks in advance

[2015-08-25 01:06] tomwhipple commented on #114
Since this is not a defect with an SDK, we're going to have to suggest that you ask the question of [PayPal Merchant Support](https://www.paypal.com/mts).

[2015-08-25 01:06] #114 closed

[2015-09-01 12:42] hbhimanathi commented on #81
Is echeck option still not available ? The scenario is I dont want the user to go paypal site but give the user an ability to choose bank account and give the bankaccount number and routing number and the details and post the payment. Is this feature available in c#

[2015-09-01 18:45] tomwhipple commented on #81
The best way to advocate for API support is via a [merchant support request](https://www.paypal-techsupport.com/app/ask).

[2015-09-02 22:46] kfuller002 opened #115 "PayFlow Gateway"
Will you be adding Payflow Gateway support to this or any of the paypal apis?

[2015-09-02 23:02] tomwhipple commented on #115
These SDKs wrap functionality of the REST API. We can't really comment here about the future direction of that API as priorities delivery schedules tend to shift over time.

However, you may want to consider [Braintree](https://www.braintreepayments.com/) as a way to accept credit cards.

[2015-09-02 23:02] #115 closed

[2015-09-22 13:44] urmuralikrishna opened #116 "Create credit card (Failed)"
Hi

Please help me,store credit card details with PayPal is not working. i got the Response as

Response

 The remote server returned an error: (500) Internal Server Error.
{
  "name": "INTERNAL_SERVICE_ERROR",
  "message": "An internal service error has occurred",
  "information_link": "https://developer.paypal.com/docs/api/#INTERNAL_SERVICE_ERROR",
  "debug_id": "e48394145d47"
}

[2015-09-22 15:35] pp-randy commented on #116
This appears to be a system issue would you be able to report this to PayPal Merchant Technical Support https://www.paypal-techsupport.com/app/ask/ by submitting a ticket here?

[2015-09-25 13:37] rivdiv opened #117 "Creating payments: The remote server returned an error: (401) Unauthorized."
Starting 3 days ago, throughout the day, we've been getting 401 Unauthorized errors when trying to create, charge payments etc - all API transactions - it seems sometimes it works and sometimes it doesn't. I did notice a pattern where I stop getting the errors at a certain time every night.

(On PayPal's SSL upgrade they mentioned SDKs don't need to be updated but I did update to the latest versio

[2015-09-29 19:38] projectscollection commented on #78
how to get all transaction id in asp.net c#????

[2015-09-29 19:41] projectscollection opened #118 "how to fetch all transaction ID from paypal in asp.net c#???"
Hi There

i want to get all transaction id from paypal in asp.net c#.

Please Help,
Thanks

[2015-09-29 22:06] pp-randy commented on #118
Are the transactions going to be created using the REST API (or this SDK only)?  If not, I would point you to a transaction search of the Classic API.

[2015-09-30 16:01] DukeNuken opened #119 "Express checkout with REST api"
I dont get the idea. If Classic api have DoExpressCheckout methods... what Rest API have for it?
On that image we have the way how it should work for classic way
![ec_hooks 1](https://cloud.githubusercontent.com/assets/2789880/10198021/cec04ae4-67a2-11e5-9620-2aeb21daf2e0.gif)

So for my case Express Checkout steps are:
1) Customer put items in cart and click on PayPal checkout button
I run

[2015-09-30 23:52] projectscollection commented on #118
i have paypal merchant account and my paypal account have lot of transaction in it, i just want to get all transactions id from my paypal merchant account using ap.net c#...is it any way to get transactions ids from paypal merchant account if yes then please let me know.

Thanks,

[2015-10-01 10:54] DanielHaddon opened #120 "Creating payment: "INTERNAL_SERVICE_ERROR""
Hey guys Im using the .NET nuget package for this SDK and Im constantly getting 500 errors. Ive tried everything I can think of and searched through every issue I can but to no avail. Please help me.

Basically this issue is occuring when I call:

paypalPayment = payment.Create(Paypal.Configuration.GetAPIContext());

Sometimes it works but half the time it doesnt, which is really frustrating.

My

[2015-10-01 12:30] DanielHaddon commented on #120
I figured it out. Well.. I just re-downloaded the sample and worked through and checked that every variable was exactly as it should be. A few things like the sku for my items not being set is what I think was the problem.

[2015-10-01 12:39] jziaja commented on #119
Hi @DukeNuken, the Express Checkout functionality is available via [REST Payments API](https://developer.paypal.com/docs/integration/web/accept-paypal-payment/).  To help you get started, I'd recommend using [the samples available here in this repo](https://github.com/paypal/PayPal-NET-SDK/wiki/Samples).  They should give you a good overview of how the API calls work.

Regarding your questions:

I

[2015-10-01 12:39] #119 closed

[2015-10-01 12:42] jziaja commented on #120
Interesting, are you able to reproduce the 500 error with the invalid sku?  If so, could you share what the `Payment` object looks like prior to making the `Create()` call?  Thanks!

[2015-10-01 12:50] jziaja commented on #117
Hi @rivdiv, there was an issue recently with the identity service that should be fixed now.  Closing this issue since it's not directly related to using the SDK.  For issues related to API errors, we recommend contacting the [Merchant Tech Support](https://www.paypal-techsupport.com/app/ask/) team directly.

[2015-10-01 12:50] #117 closed

[2015-10-01 12:56] jziaja commented on #118
@projectscollection , [`PayPal.Api.Payment.List()`](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Source/SDK/Api/Payment.cs#L227) should get you what you need.

See also: [PayPal REST API Reference - List payment resources](https://developer.paypal.com/docs/api/#list-payment-resources).

[2015-10-01 12:56] #118 closed

[2015-10-02 15:30] dlalex83 opened #121 "Create payment on Sandbox, getting wrong links back"
Hi there,

I'm using the 1.5 version of the SDK and I've always been able to successfully using the sandbox mode for testing. Since this afternoon the create payment API (creating them with authorize intent) in sandbox mode gives me a response with the wrong links, more specifically:

1. GET, SELF, https://127.0.0.1/v1/payments/payment/PAY-3J041487P5058351GKYHKEDQ
2. REDIRECT, AUTHORIZE, https://w

[2015-10-02 16:12] wisconsinjim commented on #121
I just came here to report the very same symptoms; the authorize link goes the regular Paypal site and the other two to localhost.

I was able to double check this against a test instance that I deployed yesterday morning and confirmed it was working correctly at the time. The instance has not been changed and is now showing the same issue.

Presumably a problem on Paypal's end. Hopefully a fix wi

[2015-10-02 16:15] pp-randy commented on #121
I will look into this, it is reproducible outside of the SDK as well.

[2015-10-02 16:17] dlalex83 commented on #121
Great, thanks. I guess we'll wait for PayPal to fix it.

[2015-10-02 16:32] jziaja commented on #121
Related:
* https://github.com/paypal/PayPal-PHP-SDK/issues/409
* https://github.com/paypal/PayPal-node-SDK/issues/111

[2015-10-02 18:27] projectscollection commented on #118
Thank you so much.

[2015-10-02 18:34] projectscollection opened #122 "when i am fetching paymentList it gave me count 0??"
when i am fetching paymentList it gave me count 0 ?? whereas in '2015-09-22' i have nine payments.
In webconfig i gave my own sandbox clientId and clientSecret.
Can you please tell me, why paymentList return count 0???
In addition
when i use clientId and clientSecret. of Paypal.sdk.sample app it return some result, but when i provided my own clientId and clientSecret it return nothing.

![pic](htt

[2015-10-05 13:41] jziaja commented on #122
Hi @projectscollection, instead of `startDate` and `endDate`, can you try the call again using `startTime` and `endTime` with the following datetime format:

[code]

Also, if you do a search without any date specified, do you get back any payment resources?

I'm going to classify this as an SDK bug since `startDate` and `endDate` do not appear to be [valid search fields](https://developer.paypal.c

[2015-10-05 14:34] projectscollection commented on #122
when i do search without date specified it also return nothing mention below.
![pic1](https://cloud.githubusercontent.com/assets/12823791/10283189/63350f28-6b33-11e5-8061-8521cd2f82b1.png)

and

When i do serach as startTime and EndTime it also return nothing.
![pic3](https://cloud.githubusercontent.com/assets/12823791/10283218/83a16d42-6b33-11e5-8996-30452190761d.jpg)

[2015-10-05 14:39] jziaja commented on #122
Is this on live or sandbox?  Are you certain the REST app you're using should have REST payment transactions associated with it?  If yes, [Merchant Tech Support](https://www.paypal-techsupport.com/app/ask) should be able to help you figure out why your transactions aren't showing up.

[2015-10-05 14:45] projectscollection commented on #122
My only purpose is to fetch all transaction ids from my paypal sandbox account.
Please see my transaction mention in pictures, i want to fetch transaction ids form these transaction.

![transaction](https://cloud.githubusercontent.com/assets/12823791/10283501/b787e2ca-6b34-11e5-9c89-83dce150743e.jpg)

[2015-10-05 14:46] jziaja commented on #122
Were those transactions created via REST or Classic API calls?

[2015-10-05 14:51] projectscollection commented on #122
i'm new in Paypal, i just use this NVPAPICaller to created these transaction.

[2015-10-05 15:02] jziaja commented on #122
Unfortunately, that means these transactions were all created via the Classic API and are not retrievable using the REST API.  You'll either need to switch to create the payments using the REST API (which is what [`Payment.Create()`](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Source/SDK/Api/Payment.cs#L121) will do if you use this SDK), or you can use other Classic API calls like [Trans

[2015-10-05 15:46] projectscollection commented on #122
Thank you so much, now i get my transaction through TransactionSearch.
Again
Thank you :-)

[2015-10-05 15:48] jziaja commented on #122
No problem! :+1:

I'll close this out once I've removed those parameters from the `Payment.List()` call in this SDK.

[2015-10-05 16:23] projectscollection commented on #122
No problem!

[2015-10-05 18:40] jaypatel512 commented on #121
The fix has been released, and now it should be back to normal. Closing the issue.

[2015-10-05 18:40] #121 closed

[2015-10-07 14:08] rivdiv opened #123 "Payment.Get Shipping Address"
I'm using Payment.Get, passing in the payment ID. The API is telling me the payer.payer_info.shipping_address is deprecated. Which field do I use then to get the payer's shipping address?

[2015-10-07 19:36] rivdiv commented on #123
I just got a response from PayPal MTS and clarified the documentation is from an older version and is wrong.

[2015-10-07 19:39] jziaja commented on #123
@rivdiv, I'll close this issue once the xml comment text has been updated to show the correct description.    Thanks for catching this! :+1:

[2015-10-09 19:22] ppmtscory commented on #120
Closing for now.  If you are able to reproduce again, please let us know so that we can correct the 500 error.

[2015-10-09 19:22] #120 closed

[2015-10-09 19:25] ppmtscory commented on #116
Logs indicate an internal connection issue on our end for this attempt.  Issue should be resolved but if you run into anything further, please let us know.

[2015-10-09 19:25] #116 closed

[2015-10-15 19:07] jaypatel512 commented on #54
Closing this issue, as we can use the https://github.com/paypal/PayPal-PHP-SDK/issues/149 for tracking this feature's progress.

[2015-10-15 19:07] #54 closed

[2015-10-15 22:53] SynerSoft opened #124 "Simple VB.Net Example of CC payment?"
Sorry if this is not the right place to ask a question..

I'm looking for a _simple_ vb.net example of submitting a payment.  Couldn't find one anywhere.  Surely a payment can be submitted with an object and 10 or so properties?

I don't mind starting with hard coded credentials, once it is working I know how to move that stuff.

Regards,

-Jay

[2015-11-04 15:21] ppmtscory commented on #124
@SynerSoft unfortunately we don't have any VB.Net samples on our developer portal.  You can use the [curl sample](https://developer.paypal.com/docs/rest/api/payments/#payment.create) and convert it or maybe check StackOverflow to see if other developers have already accomplished this.

[2015-11-04 15:21] #124 closed

[2015-11-11 14:29] jziaja commented on #75
Closing this due to inactivity.  Feel free to chime in if you have other thoughts on a better exception strategy.  As always, feel free to [submit a PR](https://github.com/paypal/PayPal-NET-SDK/pulls) with any suggestions.  Thanks!

[2015-11-11 14:29] #75 closed

[2015-11-11 14:33] jziaja commented on #90
Closing this issue as the documentation has since been updated.  If you have any other documentation feedback, please feel free to open a new issue explaining where things need to be improved.  Thanks again for the feedback!

[2015-11-11 14:33] #90 closed

[2015-11-13 16:30] kravchukalexander opened #126 "Direct Payment with American Express and Discover"
I'm using version 1.5.0 to handle payments with PayPal.
For test purposes I use credit card numbers from http://www.getcreditcardnumbers.com/ and it works perfect with Visa and MasterCard. When I'm trying to use American Express or Discover cards I'm getting an error.

Here is my request to paypal:

{
	"body": {
		"intent": "authorize",
		"payer": {
			"payment_method": "credit_card",
			"funding_

[2015-11-17 21:13] ppmtscory commented on #126
@kravchukalexander unfortunately only Visa and Mastercard are supported for Canadian merchants using direct credit card.  I will file an internal ticket to have a more relevant error message displayed for this particular use case.

[2015-11-17 21:13] #126 closed

[2015-11-19 05:02] ckilyk opened #127 "IPN's for recurring_payment_profile_cancel not sent when payment method is PayPal in Sandbox"
I noticed something odd - if I call the Agreement.Cancel method from the SDK, and pass in the Recurring Profile Id that used PayPal as the payment method, it seems the Sandbox is not sending IPN's for those messages.  If the payment was a credit card the recurring_payment_profile_cancel message comes through consistently.

Should this be sending that IPN message when the payment method was a paypa

[2015-11-23 15:00] GTatAeronix opened #128 "REST Api - accessToken not being returned"
Hi, not sure where to start with this.

I have had successful responses inc. full payment process in my test env. using sandbox. I have moved this to the live host to test against the sandbox but cannot get an accessToken in the very first call to paypal sandbox. OAuthTokenCredentials are good but .GetAccessToken() followed by PayPal.HttpConnection.Execute() fails with a PayPal.Exception. This ret

[2015-11-24 14:52] GTatAeronix commented on #128
Further to the above:
PayPal.Api.OAuthTokenCredential.GetAccessToken()
            // Summary:
            //     Returns the currently cached access token. If no access token was previously
            //     cached, or if the current access token is expired, then a new one is generated
            //     and returned.
            //
            // Returns:
            //     The OAuth access tok

[2015-11-24 16:05] Zhaph opened #129 "GetPayment no longer returns a list of items in the item_list object"
We've recently (last few days) noticed that when attempting to [validate payments from mobile devices](https://developer.paypal.com/webapps/developer/docs/integration/mobile/verify-mobile-payment/) the call to `Payment.Get(context, paymentId)` we no longer get a list of items in the transaction's `item_list.items` property - see [PaymentsGet.json.txt](https://github.com/paypal/PayPal-NET-SDK/files

[2015-11-24 17:16] Zhaph commented on #129
Seems like this is an issue with the underling API - I'm seeing the same behaviour when calling the v1/payments/ API directly - is this expected, and is there a work around?

[2015-11-24 17:27] ppmtscory commented on #129
@Zhaph please see [this issue](https://github.com/paypal/PayPal-PHP-SDK/issues/444#issuecomment-159263166) regarding what you're seeing.  This is something we've escalated to the internal teams to correct.

[2015-11-24 17:35] Zhaph commented on #129
Cheers, thanks for confirming. I've also raised a support ticket (#151124-000261) for this.

[2015-11-25 10:32] GTatAeronix commented on #128
Worked it.

1&1 shared asp.net hosting requires a proxy server to be referenced in the web.config file in order to issue http requests.

There would still be the case for some kind of exception message/help link/inner exception if possible as this correction has taken too long to achieve.

Rgds
GT

[2015-12-02 18:21] DukeNuken opened #130 "Paypal with discount bug"
Hello.

I have the problem with setup descount amount after customer return from paypal.
Here is an real live example
1) I have one item in the cart. It cost 18.99.
2) I create the new payment with that new item 18.99, subtotal = 18.99 and amount.total = 18.99
<code>var payment = new PayPal.Api.Payment();</code>
3) Then customer go to sandbox paypal and return back to my site.
4) I need add shipme

[2015-12-04 13:35] Zhaph opened #131 "What is the best way to retrieve the CorrelationId for a response?"
As part of our PayPal testing and Certification we're being asked to log the Correlation or Debug Id for each call to the API:

This doesn't appear to be exposed in the API, only via interrogating the thread static variable on `PayPalResource.LastResponseDetails.Value` which doesn't look like it guarantees to be the details of the request in question?

Will calling `GetHeaderMap` on a response res

[2015-12-07 16:25] pp-randy commented on #131
The Paypal-Debug-Id header does not get exposed in the top-level response objects. However, the value does get added at the API level to the response body for error responses as the debug_id property.

[2015-12-07 16:45] pp-randy commented on #131
Looking at the PaymentWithPayPal sample I don't see the headers getting exposed beyond HttpConnection.

https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/PaymentWithPayPal.aspx.cs#L113

https://github.com/paypal/PayPal-NET-SDK/blob/966510e35a997a4886bb2eeb8fad2efc9f140d64/Source/SDK/Api/Payment.cs#L128

https://github.com/paypal/PayPal-NET-SDK/blob/966510e35a997a4886bb2eeb8fad2e

[2015-12-07 20:13] ghhtimsgh1970 opened #132 "Getting access token from refresh token"
I looked at [the docs to do this](https://developer.paypal.com/docs/api/#grant-token-from-refresh-token) and it seems pretty straightforward, but it's not working.

I've successfully got the onboarding process working where my I use Log In With PayPal to return an auth code and then get a refresh/access token and then use that to get the user profile information.  I'm saving the refresh token agai

[2015-12-07 20:29] ghhtimsgh1970 commented on #132
Not sure if my above comment is clear enough.  To put it differently, the curl version of doing this is very simple.  Looks like this:

    curl -v https://api.sandbox.paypal.com/v1/identity/openidconnect/tokenservice \
          -u "<Client-Id>:<Secret>" \
          -d "grant_type=refresh_token
          &refresh_token=<Refresh-Token>"

**How is this call made using the the .NET SDK?**

From what

[2015-12-07 22:58] ghhtimsgh1970 commented on #132
I downloaded the source and debugged it out.  The `CreateFromFreshToken()` is pretty gnarly.  You may want to clean that up.

As an example, in other places, your pattern follows this:

    PayPalResource.ConfigureAndExecute<T>

So that ApiContext isn't required (it's created and configured on the fly from the config settings).  But in thise case, `CreateFromFreshToken` doesn't follow that pattern

[2015-12-08 15:32] jziaja commented on #132
Hey @ghhtimsgh1970 I appreciate the investigation into this!  I had [a branch](https://github.com/paypal/PayPal-NET-SDK/tree/fix-lipp-support) I was working on a while back to fix  this because, as you pointed out, it is indeed a pretty gnarly section of this SDK.  While the branch is a bit outdated, it does include some improvements to the LIPP (Log In with PayPal) support (see [this commit](http

[2015-12-08 15:36] ghhtimsgh1970 commented on #132
Thanks, @jziaja!  That branch looks a lot better, looking at the token creation parts of it.

[2015-12-09 20:17] ghhtimsgh1970 opened #133 "REST end points for the Permissions Service?"
Hi, I'm looking to integrate with your [Permissions Service](https://developer.paypal.com/docs/classic/products/permissions/).

I don't see any mention of it in this SDK.  Does the .NET SDK have support for it yet?  Are there any REST end points for it?

[2015-12-09 20:22] jziaja commented on #133
REST doesn't have support for the Classic Permissions API yet.  You'll want to use the [Classic Permissions SDK for .NET](https://github.com/paypal/permissions-sdk-dotnet).

[2015-12-09 20:22] #133 closed

[2015-12-10 12:14] Zhaph commented on #131
Yes, we've seen it on the error responses, but we are being asked to capture it for all requests. Would it be possible to pull that up at all?

[2015-12-10 21:23] Dashue opened #135 "Hosting on Azure issue with Custom config section"
Hello.

As I'm not sure how to do or if Azure even supports overriding custom config sections, I tried doing the following instead of ConfigManager.Instance.GetProperties()

 private static APIContext GetPayPalContext()
        {
            Dictionary<string, string> config = new Dictionary<string, string>();
            config.Add("mode", ConfigurationManager.AppSettings["paypal-mode"]);

[2015-12-10 21:42] Dashue commented on #135
I believe I was able to work around this by adding a dummy config section

<paypal>
    <settings>
      <add name="mode" value="" />
      <add name="clientId" value="" />
      <add name="clientSecret" value="" />
    </settings>
  </paypal>

[2015-12-30 21:42] nicolo commented on #100
Any update here? This would be nice to have.

[2016-01-20 19:43] ronin1 opened #136 "Install-Package PayPal Does not work"
For whatever reason, this fails to work and nuget responds package not found!

[2016-01-23 00:33] nathan-lens opened #137 "Refund unknown error has occurred"
Hi,

I passed in saleId and created a refund object, when I execute the method I get unknown error

saleId = 7NK605716R8455046
 var sale = Sale.Get(ApiContext, saleId);
 return sale.Refund(ApiContext, refund);

This is happening SaleRefund.aspx

{"name":"UNKNOWN_ERROR","message":"An unknown error has occurred","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERR

[2016-01-24 09:33] cardinalxp opened #138 "Test"

[2016-01-24 10:28] #138 closed

[2016-01-24 15:00] MegaSoftwares opened #139 "Could not create SSL/TLS secure channel"
I have downloaded https://github.com/paypal/PayPal-NET-SDK and running sample, till yesterday it was working like charm but today I am getting error  "Invalid HTTP response: The request was aborted: Could not create SSL/TLS secure channel." . Any clue why it suddenly started giving error?

[2016-01-24 20:19] johnje commented on #139
I'm having fits over the same thing, trying (for the first time) to use NVP. I haven't walked all the way through it, but found this: https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1914&expand=true&locale=en_US

[2016-01-25 11:35] marekwee commented on #139
Same issue...does anybody knows what's wrong?

[2016-01-25 14:06] meetonvc-chris commented on #139
It's because of the move to TLS 1.2 and the shutting off of SSL 3.0. More information can be found [here](https://www.paypal.com/uk/webapps/mpp/ssl-security-update):

I got it working by adding the following to the constructor on the Configuration class:

    			System.Net.ServicePointManager.SecurityProtocol = System.Net.SecurityProtocolType.Tls12;

[2016-01-25 14:11] marekwee commented on #139
Great! That solves my problem. Thanks.

[2016-01-25 14:15] pp-randy commented on #139
@MegaSoftwares the issue is most likely related to the TLS 1.2 change mentioned above. Closing the issue for now, but reply back if you are unable to resolve.

[2016-01-25 14:15] #139 closed

[2016-01-26 22:07] jfox454 commented on #135
@Dashue where did you add the dummy config section? Was it added to the web.config? I am having the same problem when hosting on Azure

[2016-01-29 10:56] Dashue commented on #135
@jfox454 Yes, it's in the web.config.
The configuration code of the sdk leaves a lot to ask for.

When creating the context, don't do like me and forget populating the config manually. Otherwise it will always point to sandbox and surface as 'unauthorized' and you'll end up spending 1 week on yourself, giving in and spending 1 week with the paypal technical support grasping at straws.

Dictionary<

[2016-02-01 20:56] DukeNuken opened #140 "Problem with TLS 1.2"
I got update paypal 1.7 and site stop working with error
`Retried 3 times.... Exception in PayPal.HttpConnection.Execute(). Check log for more details.`
after research I found out what it is because TLS 1.2 not installed, but my server have windows 2008 sp 2 and this cant be installed.

Question: what can I do for dont use  TLS 1.2 for sandbox and live api requests?

Duke

[2016-02-02 12:15] xplicit opened #141 "Can't build solution on linux"
When I try to compile solution on linux with mono 4.2, I've got an error

      xbuild PayPal.SDK.NET45.sln

     /usr/lib/mono/4.5/Microsoft.CSharp.targets (CoreCompile target) ->

	CSC: error CS2011: Unable to open response file: (ExternalCompile)

[2016-02-02 15:00] pp-randy commented on #141
I do not have much experience with mono; however, after researching this it could be file permission issue.

Does the mono process have the correct access to the ExternalCompile directory and files?

[2016-02-03 06:40] xplicit commented on #141
Isn't ExternalCompile just msbuild directive? Where is this directory located?

What I did to avoid this error, I replaced all `<ExternalCompile>` to `<Compile>` tags from PayPal.SDK.Files.csproj and insert into PayPal.SDK.NET45.csproj then I was able to compile with small code changes.

[2016-02-03 07:02] xplicit commented on #141
Also the solution uses MSTest for unit testing - this library requires VS installed which is not possible under linux, so I can't run unit tests and check what SDK functionality works with mono and what is not. Why not to use cross-platform NUnit or XUnit for unit testing?

[2016-02-04 08:14] andregrohmann opened #142 "TLS 1.2 setting eventually breaks compatibility with legacy services"
In https://github.com/paypal/PayPal-NET-SDK/commit/966510e35a997a4886bb2eeb8fad2efc9f140d64 ConnectionManager.cs was modified for TLS 1.2 support.
`ServicePointManager.SecurityProtocol` gets set to `SecurityProtocolType.Tls12` explicitly.
Unfortunately this setting affects the whole AppDomain. Therefore after using the PayPal .NET SDK only TLS 1.2 Connections are possible. This will eventually bre

[2016-02-04 17:46] jziaja commented on #142
Hi @andregrohmann, thanks for sharing this!  I definitely agree that the SDK shouldn't be so intrusive with this setting, and should simply enable support for PayPal connections while not impacting the protocol being used for other, non-PayPal connections.

Would you mind submitting a PR for this fix?  If not, I can get this change added, but would like to give credit where credit's due. :)

Thank

[2016-02-04 21:09] jziaja commented on #141
Hi @xplicit, unfortunately we have no plans to support building this SDK with Mono at this time.

[2016-02-04 21:09] #141 closed

[2016-02-05 06:21] xplicit commented on #141
@jziaja .NET Core you do not support too?

[2016-02-05 08:14] andregrohmann commented on #142
Hi @jziaja , thanks for your answer and giving me a chance to fix it. I will try to submit a PR in the next days.

[2016-02-09 03:33] capsizeno4 commented on #142
Hi,

My application is getting an error which I believe is related to the TLS update.

<b>Invalid HTTP response The request was aborted: Could not create SSL/TLS secure channel.</b>

Ive tested my development machine and production machines, both receive positive responses to the TLS tests, and my .NET is at version is 4.5.

i can call https://www.sandbox.paypal.com/webapps/auth/protocol/openidcon

[2016-02-09 13:15] andregrohmann commented on #142
Hi @capsizeno4, it seems you are using SOAP to communicate with PayPal and not the PayPal .NET SDK. Nevertheless i think you get this Error because you haven't changed the value of ```ServicePointManager.SecurityProtocol```.  The .NET Framework default is SSL3 and TLSv1.0. Therefore you have to add TLSv1.2 to get a secure connection to PayPal.

[2016-02-10 10:07] tiffaa opened #144 "404 Not Found errors for payments made by foreign customers"
Hello,

we are using the SALE APi to look up and refund completed payments. Recently, we recived a couple of 404 errors while looking up a sale:

`Sale s = Sale.Get(accessToken, transactionId);`
`>> The remote server returned an error: (404) Not Found.`

we tried to identify the problem and noticed that all payments were made by foreign customers. (non german, we based this on their email adress)

[2016-02-10 15:05] pp-randy commented on #144
@tiffaa would you be able to provide a debug-id from either the response body or the header?  I'm not aware of limitations on EUR currency but I'm happy to look into this further.

[2016-02-10 15:49] tiffaa commented on #144
sure thing!

this is one of the latest payments from today:

"name":"INVALID_RESOURCE_ID",
"message":"The requested resource ID was not found",
"information_link":"https://developer.paypal.com/docs/api/#INVALID_RESOURCE_ID",
"debug_id":"62fbeb2aaff14"

PROXY_SERVER_INFO: host=slcjavapapi3037b.slc.paypal.com;threadId=279
Paypal-Debug-Id: 62fbeb2aaff14
CORRELATION-ID: 62fbeb2aaff14
Content-Language:

[2016-02-13 19:07] jvianafec opened #145 "Payment.Get(ApiContext, "") - Error: 404 Not Found"
Hello,

I'm trying to run this method:
`var payment = Payment.Get(apiContext, textBox1.Text);`

I'm getting this response:

`{"Name": "INVALID_RESOURCE_ID", "message": "The requested resource ID was notfound","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INVALID_RESOURCE_ID","debug_id":"881057b3579f"}`

The credentials are correct, the payment ID is also correct, whi

[2016-02-15 12:32] #145 closed

[2016-02-18 04:49] #142 closed

[2016-02-19 23:35] #135 closed

[2016-02-19 23:36] #136 closed

[2016-02-19 23:36] #140 closed

[2016-02-20 16:50] ppmtscory commented on #127
First off, apologies for the delay here.  Secondly, is this still an issue for you?  As far as I know (I'll have to run some tests) you should receive a cancellation IPN.  I ask if it's still an issue because there may have been some IPN issues around this time that may have been causing it.  Let me know!

[2016-02-20 16:55] ppmtscory commented on #137
@nathan-lens the issue was due to your sandbox account, that you were refunding from, had a restriction on it.  I'm not sure why this happened but I've removed the restriction so you should be able to function as normal on that account.

[2016-02-20 16:55] #137 closed

[2016-02-20 16:58] ppmtscory commented on #130
@DukeNuken I apologize for the delay here.  Can you please let me know a recent debug ID of the error message?  This will allow me to look into our logs and see what's causing the issue.

[2016-02-20 17:19] ppmtscory commented on #144
@tiffaa you are getting that error because that transaction that you are trying to look up was not processed via REST APIs.  The REST API look up calls are only for transactions processed via REST API.  Since this was not, there's no Payment ID (resource ID) to be found.  For looking up transactions that were processed via Classic API, you'll need to use [GetTransactionDetails](https://developer.p

[2016-02-20 17:19] #144 closed

[2016-02-22 07:08] jakejscott opened #146 "Support .NET Core"
vnext no longer supports web.config, so you will need to change the way your reading up settings in the following places:
1. ConfigManager.cs
2. SDKConfigHandler.cs
3. LogConfiguration.cs

[2016-02-22 20:42] #123 closed

[2016-02-26 00:13] jlarmbruster opened #147 "Could not establish Secure connection for SSL/TLS"
I've added latest certificate.

Did the setup for certificates.

Using Windows 10 which supports TLS 1.2,

What else do I need to do?

Why doesn't the sample code work?

It should contain a file that details what a developer needs to do to use the code.

[2016-02-26 14:38] pp-randy commented on #147
Have you reviewed the .NET information located here? https://github.com/paypal/tls-update

[2016-02-26 15:34] jlarmbruster commented on #147
Yes. I ran the test. Response is PayPal connection OK.

The SDK Sample code still fails to make the connection.

From: Randy [mailto:notifications@github.com]
Sent: Friday, February 26, 2016 6:39 AM
To: paypal/PayPal-NET-SDK
Cc: jlarmbruster
Subject: Re: [PayPal-NET-SDK] Could not establish Secure connection for SSL/TLS (#147)

Have you reviewed the .NET information located here? https://github.co

[2016-02-26 20:21] ppmtscory commented on #147
Can you post your logs so that we can see the full stack trace of the error?

[2016-02-26 21:29] jziaja commented on #147
@jlarmbruster Do you mind pulling down the latest `develop` branch and trying the samples again?  I noticed the PayPal & Newtonsoft dependencies included with the samples were pretty old and updated them to the latest release.

[2016-02-27 04:38] Liangshunsheng commented on #147
Can you tell me where you are is to download the latest certificate?I encounter this problem: when the sand box test request has been suspended: failed to create the SSL/TLS secure channel.thank you

[2016-02-27 22:32] jlarmbruster commented on #147
Jziaja,

I downloaded the latest code, compiled it, and yes!!! It is working.  The older dlls were the issue.

THANK YOU!  THANK YOU!

Jeff

[2016-02-27 22:32] #147 closed

[2016-02-28 00:33] Liangshunsheng commented on #147
jlarmbruster,

Can you tell me where you are is to download the latest code?I encounter this problem: when the

sand box test request has been suspended: failed to create the SSL/TLS secure channel.thank you

[2016-02-28 17:17] jlarmbruster commented on #147
Sure,

1.        Get the latest code from paypal releases.

2.       Get Fiddler.

You need Fiddler to read the actual responses from PayPal.  Some of the responses from payPal look like a connection issue, but they are not.  PayPal is reading what you have sent, then disconnecting the connection, but f you read the response you may see that something that PayPal is expecting is missing.  So your

[2016-02-28 17:24] jlarmbruster commented on #147
Use this link to verify that you have TLS 2 1.2 on your machine.

Have you reviewed the .NET information located here? https://github.com/paypal/tls-update

From: Liangshunsheng [mailto:notifications@github.com]
Sent: Saturday, February 27, 2016 4:34 PM
To: paypal/PayPal-NET-SDK
Cc: jlarmbruster
Subject: Re: [PayPal-NET-SDK] Could not establish Secure connection for SSL/TLS (#147)

jlarmbruster,

[2016-03-02 11:18] miikalaaksonen opened #148 "JSON deserialize error while creating PayPal Invoice"
I managed to create PayPal invoice with SDK:
`                var finalInvoice = ppInvoice.Create(_apiContext);
`
However, log4net shows that created invoice can't be deserialized:
`PayPal.Api.JsonFormatter	Error while deserializing JSON: Could not find member 'links' on object of type 'Invoice'. Path 'links', line 1, position 1078.`
`PayPal.Api.JsonFormatter	Error while deserializing JSON: Could

[2016-03-13 09:17] Mirzanas opened #150 "Adaptive Payments"
Adaptive Payments is not implemented on this SDK?

[2016-03-14 14:31] pp-randy commented on #150
You would want this SDK at this time https://github.com/paypal/adaptivepayments-sdk-dotnet

I apologize as I know it links to here.

[2016-03-14 14:31] #150 closed

[2016-03-22 13:54] Greesemonkey3 commented on #91
@jziaja I was wondering if you had any sample asp .net VB code for Requesting a payment, processing it, and redirecting. I have been looking at your C# code but am unable to translate the part about creating & executing a payment request. Any help or advice would be greatly appriciated!

[2016-03-22 17:34] kstubs commented on #87
Can you tell me where this developer documentation is please?  Also, is there a work around to getting a list of recurring payment plans?  There is a bit of chicken/egg issue here in that I need to be able to cancel a plan so I need the plan ID, but I'm not sure how to get that plan ID without searching the plans.  This question is posted [here](http://stackoverflow.com/questions/36160144/paypal-r

[2016-03-22 22:34] superlogical opened #151 "Why am I shown the old UI when I checkout?"
When I use the sample code `clientId` and `clientSecret` I get this UI when I checkout

![new](https://cloud.githubusercontent.com/assets/287641/13969978/cd0df8b4-f0ea-11e5-9fae-26f2afac414a.PNG)

But when I use the account that I setup I get the old UI, why is that?
![old](https://cloud.githubusercontent.com/assets/287641/13970042/28de3686-f0eb-11e5-8b06-cd742c513795.PNG)

[2016-03-23 14:30] pp-randy commented on #87
@kstubs here is the developer site documentation https://developer.paypal.com/docs/rest/api/payments.billing-plans/#list

The above provides a cURL example. Are you able to test in cURL?  If so, please see if this provides you results after adding an access token.
`curl -v -X GET https://api.sandbox.paypal.com/v1/payments/billing-plans?page_size=10&status=CREATED&page=1&total_required=yes \
-H 'Co

[2016-03-23 21:42] superlogical commented on #151
I'm from New Zealand. How long till the new UI cuts over for us? Would love
to have the new UI :)

On Thursday, 24 March 2016, Jeff Brateman <notifications@github.com> wrote:

[2016-03-23 21:44] superlogical commented on #151
Or is it a case of they are not going to give us the new UI? I only need the basic features

[2016-03-24 01:41] superlogical commented on #151
HI Jeff, thanks for checking that out -- Much appreciated. I will have a go using production clientId and secret later this afternoon.

Cheers

[2016-03-24 03:02] superlogical commented on #151
Sweet looks like it works with live mode on! Yay

![livepaypalui](https://cloud.githubusercontent.com/assets/287641/14007244/c5477110-f1d9-11e5-9296-984fdc132ba1.PNG)

[2016-03-24 03:02] #151 closed

[2016-03-24 09:24] kstubs commented on #87
Randy, I've moved onto another api, the PayPal merchant, https://github.com/paypal/merchant-sdk-dotnet I moved on because according to PayPal support I would not be able to cancel a recurring payment made from PayPal's Express Check Out with the Rest API.  But of course now I'm facing a new challenge, I'm facing new challenges now with TLSv1.2 policies going into place at PayPal.  I have the code

[2016-03-24 13:13] pp-randy commented on #87
@kstubs For that SDK make sure you have an updated https://github.com/paypal/sdk-core-dotnet. Create an issue in repo https://github.com/paypal/merchant-sdk-dotnet if you have issues moving forward, we are here to help.

[2016-03-24 13:47] juwlee commented on #87
@kstubs To add to what @pp-randy said, please see [.NET SDK TLS docs](https://github.com/paypal/TLS-update#paypal-net-sdk-support).

[2016-03-24 14:15] pp-randy commented on #87
To follow up further with the context of the sample here: https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/BillingPlanGetList.aspx.cs#L41

To show ACTIVE plans you would use a parameter list like the following:
`var planList = Plan.List(apiContext, "0", "ACTIVE", "10", "yes");`

https://github.com/paypal/PayPal-NET-SDK/blob/develop/Source/SDK/Api/Plan.cs#L163

[2016-03-30 16:40] DukeNuken opened #152 "sandbox rest api return INTERNAL_SERVICE_ERROR"
Hello.

I am using last version of paypal lib 1.7.3.0 and when I try create new payment I see an error like this

Why it happends? That code work before and still working for production.

Duke

[2016-03-30 16:46] ppmtscory commented on #152
Hi all, sandbox appears to be experiencing some downtime. We're tracking the issue over at [paypal/PayPal-PHP-SDK#531](https://github.com/paypal/PayPal-PHP-SDK/issues/531), so I'm going to close this one as a duplicate so that we don't have multiple threads. We'll provide back information as we can there.

[2016-03-30 16:46] #152 closed

[2016-03-30 19:06] tkebede9 opened #153 "The remote server returned an error: (500) Internal Server Error"
Currently, we are developing a Payment system within our website via PayPal REST API. Our system (in the development environment) was working OK; but, we are now receiving an error message: "**The remote server returned an error: (500) Internal Server Error.**"

FYI - I also received same error when I ran the samples downloaded from your website (PayPal-NET-SDK-develop.zip) as shown below:

1. Cre

[2016-03-30 19:13] ppmtscory commented on #153
Hi all, sandbox appears to be experiencing some downtime. We're tracking the issue over at [paypal/PayPal-PHP-SDK#531](https://github.com/paypal/PayPal-PHP-SDK/issues/531), so I'm going to close this one as a duplicate so that we don't have multiple threads. We'll provide back information as we can there.

[2016-03-30 19:13] #153 closed

[2016-03-30 19:22] tkebede9 commented on #153
Great. Thanks for looking into the issue!

[2016-04-02 19:38] superlogical commented on #151
I just tested this, and yes it's working!
Thanks

[2016-04-14 14:07] juwlee commented on #148
Hi @miikalaaksonen thanks for pointing this out. We will investigate

[2016-04-17 17:41] bimusiek commented on #100
Any plans on supporting it?
We have to connect paypal api with our accounting software, but for now this is just useless. :/

[2016-04-29 04:20] dbajric opened #155 "JSON deserialize error while creating an authorize transaction"
I am successfully authorizing credit card payments using the SDK but log4net logs an error message when deserializing JSON. Here is the log line:

`ERROR PayPal.Api.JsonFormatter [(null)] Error while deserializing JSON: Could not find member 'processor_response' on object of type 'Authorization'. Path 'transactions[0].related_resources[0].authorization.processor_response', line 1, position 1428.`

[2016-05-05 11:21] pingcrosby commented on #155
Hi

I think im having the same issue , [related_resources] is not set - my code flow is below
[code]

[2016-05-05 15:20] jziaja commented on #155
@pingcrosby I believe your issue is different as it appears the returned payment resource is missing a field that should be deserialized correctly if provided in the response from PayPal.  The issue @dbajric is encountering is the SDK needing to be updated to support a newer field being returned from PayPal.

@pingcrosby do you mind opening a new issue along with providing the `payment.debug_id` r

[2016-05-05 20:04] pingcrosby opened #156 "[related_resources] is not set in response to payment authorise"
[related_resources] is not set in response to payment authorise
- I set the intent to "authorize" and call create payment
  The callback is successful and i have a full Payment object including a transaction, however there are no [related_resources] in the Payment object.
- As requested a payment.debug_id
          sandbox transactions paypal debug_id == a38ef1cd97b0f
- I am using the paypal test/

[2016-05-10 21:00] dagostinone opened #157 "No shipping"
Is it possible to make payment without shipping information ? is there any option ?

[2016-05-10 21:11] pp-randy commented on #157
@dagostinone Yes, checkout Payment Experience

https://developer.paypal.com/docs/rest/api/payment-experience/
no_shipping: When set to 1, PayPal does not display shipping address fields whatsoever.

https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/PaymentExperienceCreate.aspx.cs

[2016-05-10 21:40] pp-randy commented on #157
@dagostinone closing the issue for now, but let me know if you need further help.

[2016-05-10 21:40] #157 closed

[2016-05-10 22:45] #100 closed

[2016-05-10 22:54] #129 closed

[2016-05-11 04:48] eriansuwandi opened #158 "INTERNAL_SERVICE_ERROR on create payment using stored credit card"
Hi,
I tried to create payment using stored credit card on the sandbox mode.
and I got the error response:
**{"name":"INTERNAL_SERVICE_ERROR","message":"An internal service error has occurred",
"information_link":"https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVICE_ERROR",
"debug_id":"d1cb324214281"}**

I had several times use different credit card id but I still have the same

[2016-05-11 07:19] eriansuwandi commented on #158
**SOLVED **
I guess the issue caused by the credit card number is used frequently. So I try use the credit card number from http://www.getcreditcardnumbers.com/ and it works

[2016-05-11 07:20] #158 closed

[2016-05-11 13:39] pp-randy commented on #158
Internal tracking PPPLPAYPT-7022

[2016-05-18 20:47] pingcrosby commented on #156
Thanks, i really appreciate you looking into this for me, sadly i am still getting the exact same issue. I am not able to dump the raw HTTPs stream to look at the sent data. So I have pasted more code in to help and some dumps from the debugger . I apologise in advance for the length of this post and the hideous formatting.

----

In a nutshell I call the AuthorizePayment action which redirects to

[2016-05-18 20:57] pingcrosby opened #160 "Hi do you release the pdb along with sdk ?"
Not technically an issue but no where else to ask.

Couid you include the debug and pdb file along with sdk release ?
It would help us step into the source to trace issues.

Thanks

[2016-05-19 14:11] pp-randy commented on #156
When the buyer is returned from PayPal are you should then call ExecutePayment.  I am not seeing this in your request logs, are you calling it?

https://developer.paypal.com/docs/rest/api/payments/#payment.execute

[2016-05-19 20:39] tofutim opened #161 "403 when fetching plans"
I am using

[code]

to get subscription information given an subscrid. However, at the call for Plan.Get, I get a 403 Forbidden even though it seems I should be able to get this info.

![image](https://cloud.githubusercontent.com/assets/157766/15408841/02a3eade-1dc7-11e6-9a0a-9637eaf12e4c.png)

Should I be using something other the plan? Did I miss enabling something? Here is how my API page looks

[2016-05-19 21:11] travislaynewilson opened #162 "Express Checkout support"
Does this SDK provide any functionality to work with Express Checkouts, such as creating Tokens? I've looked for hours and I cannot find anything.

[2016-05-19 21:42] tofutim commented on #161
I got a bit further on this after I realized that I do not have plans but instead subscriptions that start with I-xxxxx. So I switched to Paypal.Api.Agreement.Get(apiContext, subscrid) - in this case my subscrid looks like I-FF4XU2D6NTH2 - but after the call I end up with

[2016-05-19 21:51] travislaynewilson commented on #162
Buried in their documentation is a link to https://devtools-paypal.com/guide/pay_paypal/dotnet?interactive=ON&env=sandbox, which documents this.

[2016-05-19 21:51] #162 closed

[2016-05-19 21:51] tofutim commented on #161
More info

{"name":"REQUIRED_SCOPE_MISSING","message":"Access token does not have required scope","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#REQUIRED_SCOPE_MISSING","debug_id":"e541100535601"}

How do get the right scope?

[2016-05-19 21:54] tofutim commented on #161
this suggest there is a place I can set "Advanced capabilities"

http://stackoverflow.com/questions/27049971/paypal-rest-api-php-sdk-billing-i-get-error-required-scope-missing

but I cannot find that page!

[2016-05-19 22:12] tofutim commented on #161
I found the Advanced capabilities, but now the error is

{
	"status": 400,
	"duration_time": 149,
	"body": {
		"message": "Subscription Profiles not supported by Recurring Payment APIs.",
		"debug_id": "3d3f355d33701",
		"information_link": "https://developer.paypal.com/webapps/developer/docs/api/#SUBSCRIPTION_UNMAPPED_ERROR",
		"name": "SUBSCRIPTION_UNMAPPED_ERROR"
	},
	"additional_properties": {

[2016-05-20 00:37] #161 closed

[2016-05-20 00:42] tofutim opened #163 "calling api.sandbox.paypal.com"
Hi, when I call OAuthTokenCredential, I can see (via Fiddler) that I am calling api.sandbox.paypal.com, but when I call Agreement.Get, Fiddler says I am calling api.paypal.com. What is going on there? I get 401 unrecognized.

[code]

[2016-05-20 00:48] tofutim commented on #163
looks like I actually have to set the Web.Config and use the ConfigManager so that it consistently calls sandbox. Is there away to have both at the same time?

[2016-05-20 08:08] pingcrosby commented on #156
Hi

Thanks for the reply, I understand correctly instead of the sequence :

- Create payment 'authorize'
- When paypal repsonds I call CapturePayment which fails
[code]

I should be doing

- Create payment 'authorize
- When paypal responds

[code]

[2016-05-20 14:54] pp-randy commented on #156
Hi @pingcrosby this same code link should help https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/PaymentWithPayPal.aspx.cs#L144

The payerid comes from the PayPal response URL query string.

[2016-05-27 17:22] LostInZen opened #165 "Test Card For SandBox"
As of Yesterday(5/26/2016) any test cards are not passing the payment.Create() method.
The Vault is storing the cards correctly as far as i can tell.
Either way (card information/ or card token) in the payment fails with the following message:
![image](https://cloud.githubusercontent.com/assets/19613046/15615593/f2a11cda-2404-11e6-8601-05aea3e5ffec.png)
or in your sample application:
![image](http

[2016-05-27 17:22] danielcamargo opened #166 "How can I suppress Shipping info?"
How can I include NOSHIPPING=1 in payment link?

[2016-05-27 17:24] jaypatel512 commented on #166
Do you mean something like this: https://github.com/paypal/PayPal-PHP-SDK/issues/415

[2016-05-27 17:31] danielcamargo commented on #166
I am using the example:

[code]
And then redirecting the user to the **approval_url** from the recently created payment.

I wonder if there is a way to include the *no shipping* as part of the payment creation.

PS: Thank you for the quick response!

[2016-05-27 17:57] pp-randy commented on #165
I apologize this card stopped working for you; this can happen in the sandbox when a credit card is overused.  Don't use live numbers, you can use the Credit Card generator here on step 4 https://www.paypal-knowledge.com/infocenter/index?page=content&id=FAQ1413&expand=true&locale=en_US.  Any credit card that passes Luhn algorithm, unless experiencing the same problem as this one should work in san

[2016-05-27 17:57] #165 closed

[2016-05-27 18:01] jaypatel512 commented on #166
Yes, you can provide noShipping. However, the way this works is, we have different set of [Payment Experience API](https://github.com/paypal/PayPal-NET-SDK/blob/develop/Samples/Source/PaymentExperienceCreate.aspx.cs) that allows you to modify a lot of similar configurations using it. Once you create a Payment Experience, you will be returned an Id, that can be added to all the payments, which woul

[2016-05-27 18:01] #166 closed

[2016-05-27 18:10] dgandini commented on #166
Daniel, you have to create a WebExperience Profile and associate it to the Payment trough the experience_profile_id property.

WebProfile Creation:
`
var webProfileList = WebProfile.GetList(apiContext);

                    foreach (var webProfile in webProfileList)
                    {
                        WebProfile.Delete(apiContext, webProfile.id);
                    }

[2016-05-27 18:18] dgandini opened #167 "How to inform that a recurring payment should use a specific webprofile?"
I cannot find in the .NET SDK how to associate a WebProfileId to the Billing Plan or Billing Agreement. I have to inform that the agreement has no shipping address.

[2016-05-27 18:29] LostInZen commented on #165
Thank you for your speedy response. I needed that reassurance.  I'm surprised Paypal Doesn't list that in the exception details.

[2016-05-27 19:19] pp-randy commented on #165
The tracking id I provided is a feature request I submitted for better error messaging and some tools to better assist with this type of issue.

[2016-05-27 22:29] danielcamargo commented on #166
Thank you guys! That solved my problem.

[2016-05-31 22:38] Olcod commented on #157
@pp-randy Hi, thanks for the information. However, I don;t understand when and how you send the no_shipping flag...
This is the code I have, as you can see I tried to add the flag to the configuration, but the shipping information request is still showing when user clicks "Pay with Credit Card" on the paypal form.
Could you help me please with this?

`Dim sdkConfig As New Dictionary(Of String, Str

[2016-05-31 23:01] Olcod commented on #157
Nevermind. Thanks to the VisualStudio's intellisence, I have found what expects the no_shipping flag.
`
Dim ecDetails As New SetExpressCheckoutRequestDetailsType()
ecDetails.PaymentDetails = paymentDetails
ecDetails.NoShipping = "1"

Dim request As New SetExpressCheckoutRequestType()
request.Version = "104.0"
request.SetExpressCheckoutRequestDetails = ecDetails
`

[2016-06-04 02:58] saf-itpro opened #168 "How to download the sample code?"
How to download the sample code? I don't see a `Download` button for downloading the entire sample code project.

[2016-06-04 15:13] jaypatel512 commented on #168
You need to download the entire repository by doing a git clone.

[2016-06-04 15:13] #168 closed

[2016-06-06 03:30] jbeen19 commented on #146
It would be nicer and less problematic if you would just allow use to add our own configuration by code instead of a config file that way, you guys are not holding us back.

[2016-06-06 11:50] jbeen19 opened #169 "apiContext.Config is null"
I find this a bit odd and was a total annoyance.

[code]

You would think after adding the config settings into the OAuthTokenCredential() that it would put it in the apiContext.Config as well.

[2016-06-07 20:50] joxs86 opened #170 "SDK PAYPAL API ISSUE - SetExpressCheckout() Null Object"
Hi i am new using Paypal SDK, and I am trying fix an issue with a web site (c#), it is using Assembly PayPal_Merchant_SDK.dll, v2.0.50727 since 2012, without problem and the API Credentials seem to be working. But now when we are trying to invoke The API,

`// Invoke the API

    SetExpressCheckoutReq wrapper = new SetExpressCheckoutReq();
                    wrapper.SetExpressCheckoutRequest = re

[2016-06-08 18:47] tofutim commented on #169
I was wondering why it did not work for me.

[2016-06-08 19:44] injy93 opened #171 "Invoice discount by amount"
Hi,

I want to create an invoice with a global discount by amount.
I try :

`myInvoice.discount = new Cost()
                {
                    amount = new Currency()
                    {
                        currency = "EUR",
                        value = "5"
                    }
                };
`
But I get a PaymentsException with these details:
- minimum value allowed is 0.001. fo

[2016-06-09 08:55] jbeen19 commented on #169
I hoped I saved you the time. Took me almost two days to catch it, which sucks since I only need that one line of code. (It was a random guess is how I caught it.)

[2016-06-09 13:05] #170 closed

[2016-06-09 13:06] joxs86 commented on #170
I fixed the problem updating dll

[2016-06-13 19:09] tofutim opened #172 "canceling subscription in Live, buttons"
Hi, I am working on switching everything to use the new Net-SDK. However, I am running into a couple issues.

1. I need to cancel subscriptions. I am using Agreement.Cancel and it works fine in Sandbox to cancel I-* type subscriptions. However, when I switch to live I get Unauthorized when I call .Cancel. I used new ClientId/ClientSecret just to be safe but no go. Help!

I am investigating the old

[2016-06-13 19:45] tofutim commented on #172
I was able to cancel the subscription using the old Merchant API

[code]

but that doesn't explain why Agreement.Cancel does not work. :(  I prefer to use the newer API as the older is supposed to get deprecated soon. Again, using this SDK

`PayPal.Api.Agreement.Cancel(apiContext, subscrId, new PayPal.Api.AgreementStateDescriptor { note = note });
`
worked in Sandbox (canceled the subscription), b

[2016-06-13 20:23] tofutim commented on #172
Hi, it turns out this is issue #169 again. If I set apiContext.config = config (the new config), then everything works, otherwise, apiContext.config is null and it goes to Web.Config to look. If Web.Config happens to be Sandbox, then Sandbox will work otherwise Live then Live.

[2016-06-14 15:20] LorenDorez commented on #104
Hi @jziaja , i know this is an old issue but I am experiencing this issue as well. I even tried the DevTools site and getting an error there as well. Any idea if this issue has sprung its head again?

[2016-06-14 16:52] itcurves opened #173 "Getting Error: The operation has timed out (HTTP request timeout was set to 30000ms)"
I keep getting this error :
The operation has timed out (HTTP request timeout was set to 30000ms)

on line :
Payment createdPayment = pymnt.Create(apiContext);

it was working fine before I also update to latest version but no luck.

Any suggestions?

[2016-06-15 05:08] intexx commented on #78
I'm casting my vote for the ability to search for and locate ANY transaction via the REST API (and the .NET SDK), not just those created by an API.

In other words, the REST API (and the .NET SDK) should be able to locate transactions that were created manually via the website user interface. A returned list of merely API-created transactions (any API) is simply not sufficient—manually-created tra

[2016-06-15 23:27] intexx opened #174 "Need a TransactionSearch API for ALL transactions, even manually-created"
Currently we can't get at transactions that weren't created by the API.

All transaction types—to include bank transfers and transactions created through the website UI—should be accessible via the REST API (and SDKs by extension).

[2016-06-16 13:56] arvindsolzit commented on #104
even we are  facing the same issue for SDK login
The page PaymentWithSavedCard.aspx returns 404
{
"name": "UNKNOWN_ERROR",
"message": "An unknown error has occurred",
"information_link": "https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERROR",
"debug_id": "e12c1481d2f00"
}

please provide the solution

[2016-06-16 14:00] arvindsolzit commented on #104
Even we are facing the same issue
The page PaymentWithSavedCard.aspx returns 404

{"name":"UNKNOWN_ERROR","message":"An unknown error has occurred","information_link":"https://developer.paypal.com/webapps/developer/docs/api/#UNKNOWN_ERROR","debug_id":"21e111a92faf1"}

please provide the solution

[2016-06-21 13:20] sbhapk28 opened #175 "The remote server returned an error: (400) Bad Request."
I was checking the Payment examples mentioned in PayPal .NET SDK Samples but every sample gives error while creating Payment  by posting to the APIService.
Error come at this line
 var createdPayment = payment.Create(apiContext);
I have checked the PayPal exceptions like PayPal.PaymentsException and PayPal.PayPalException but they are not providing any details in it.
Do I have missed something whi

[2016-06-21 15:12] sbhapk28 commented on #175
Hello I am glad to inform you that issue was resolved! It was Credit Card issue. It might be over used. So I have taken new Credit card from this site [Testing Credit card](http://www.getcreditcardnumbers.com). and replaced with the old one.

` credit_card = new CreditCard()
                            {
                                billing_address = new Address()

[2016-06-21 15:12] #175 closed

[2016-06-22 00:54] tofutim commented on #169
You must set the .Config, otherwise there are issues.

On Tue, Jun 21, 2016 at 4:27 PM, Jeff Brateman <notifications@github.com>
wrote:

[2016-06-22 03:07] intexx commented on #160
@braebot: @pingcrosby brings up a good point. Symbols are very important.

Yes, it'll require some changes in your build/release config, but not too much.

Here's some more info and a getting-started reference:

**Importance of PDBs**
http://www.wintellect.com/devcenter/jrobbins/pdb-files-what-every-developer-must-know
http://www.edsquared.com/2011/02/12/Source+Server+And+Symbol+Server+Support+In+

[2016-06-22 14:38] pp-randy commented on #167
@dgandini I apologize for the delay in following up with you.  Currently, I do not see a way to enable no_shipping in the Billing Agreement process.  I have logged a request for this feature to be reviewed as a possible enhancement.

Internal Tracking: PPPLPAYPT-10202

[2016-06-22 14:38] #167 closed

[2016-06-22 15:35] pp-randy commented on #174
@intexx Thank you for your feedback regarding the REST API. I'm tracking a feature for additional transaction information that should provide some parity to Classic Transaction Search and Details.

Internal Tracking: PLAT-866
Tracking a related issue with a different use case: https://github.com/paypal/PayPal-Python-SDK/issues/137

[2016-06-22 20:38] intexx commented on #174
@pp-randy: Thank you for your attention to this issue and for continuing to work on it.

[2016-06-23 02:54] ppmtscory commented on #172
@tofutim for your first question, let's continue to track that over on #169 as it's already been marked as a bug to be looked into on there.

For your second question, no, there isn't a REST equivalent to the Button Manager SDK.  I'd recommend just using the regular REST Payments API instead.  This overview can be found [here](https://developer.paypal.com/docs/integration/direct/rest-payments-over

[2016-06-23 02:54] #172 closed

[2016-06-23 02:57] ppmtscory commented on #173
Is this in Live or Sandbox?  Do you have any debug logging set up where you can provide anything extra for us to look at?

[2016-06-23 03:16] ppmtscory commented on #104
@arvindsolzit according to the logs, it's showing an issue with your sandbox merchant account.  Can you do into developer.paypal.com, create a new sandbox account, and then create a new REST App that is tied to this new account.  Once you have that done, then please try those credentials with a new saved card and payment.

[2016-06-23 03:51] ppmtscory commented on #171
@injy93 my apologies on the delay here... are you still seeing this issue?  I'm about to run some tests as soon as I get my environment where it needs to be, so just let us know.

[2016-06-23 11:58] injy93 commented on #171
Hi,

I fix my problem with declare percent var as nullable in the Cost object to have no JSON serialization if percent is null, but I don't do exhaustive tests to see if there is no side effects on other things.

Regards

[2016-06-23 22:42] ppmtscory commented on #171
Thanks for the update.  I'll run some tests and let you know what comes of it.

[2016-06-29 18:37] danielcamargo opened #176 "Error when executing a payment"
### I am creating the payment like this:

var items = new List<Item>();

items.Add(new Item
{
	name = "Test",
	currency = "USD",
	price = "1",
	quantity = "1",
	sku = "ADV"
});

var total = 1.0;

const string live = "XP-ARLX-QTAE-PNK3-9THY";

var config = ConfigManager.Instance.GetProperties();
var accessToken = new OAuthTokenCredential(config).GetAccessToken();
var apiContext = new APIContext(acc

[2016-06-29 19:08] #176 closed

[2016-06-29 20:17] ppmtscory commented on #173
Closing this due to inactivity.  If your issue persists, please either reopen or create a new issue with additional details.

[2016-06-29 20:17] #173 closed

[2016-06-30 17:05] MLyons10 opened #177 "Can I store the data somewhere other than App.Config?"
I have run into a limitation and am wondering if I can store the data somewhere other than the App.Config.  Anything will be encrypted, but due to a presumed permissions issue, the App.Config isn't an option for this solution.

Thank you for your help.

[2016-07-03 21:02] superlogical commented on #146
.NET Core has now been released

- https://www.microsoft.com/net
- http://www.hanselman.com/blog/NETCore10IsNowReleased.aspx

[2016-07-05 15:41] jaypatel512 commented on #148
Hey @miikalaaksonen !

Sorry for replying you quite late. Do you mind helping me with testing a fix I am trying to fix. I think there are two fixes that is required in this case.

1. Replace `PayPalResource` with [PayPalRelationObject](https://github.com/paypal/PayPal-NET-SDK/blob/master/Source/SDK/Api/PayPalRelationalObject.cs#L11). This should fix the links issue.
2. Replace `MissingMemberHandli

[2016-07-05 15:45] jaypatel512 commented on #148
Can you please checkout the above branch and help us figure out if that fixes the issue ? https://github.com/paypal/PayPal-NET-SDK/pull/178

[2016-07-05 16:19] ppmtscory commented on #171
@injy93 can you be so kind as to submit a PR for the fix that you found with declaring the percent var as nullable in the Cost object?

[2016-07-06 19:28] cai0m3ga opened #179 "Error 500"
Hello, during the call of the function " payment.Create(apiContext) " i am receiving the error code 500, i tried to find any detail about the error in the " Sandbox Transactions ", but the only message i got so far is : " An internal service error has occurred ".

My question is : Where i can find any detail about that error or how could i solve it ?

My last debug id "cee971486be29"

[2016-07-07 13:27] cai0m3ga commented on #179
Of course, my last response message is :

{
	"status": 500,
	"duration_time": 25,
	"body": {
		"message": "An internal service error has occurred",
		"information_link": "https://developer.paypal.com/webapps/developer/docs/api/#INTERNAL_SERVICE_ERROR",
		"name": "INTERNAL_SERVICE_ERROR",
		"debug_id": "cee971486be29"
	},
	"additional_properties": {},
	"header": {
		"Content-Length": "212",
		"Cont

[2016-07-14 19:02] jaypatel512 commented on #148
Hey @miikalaaksonen !

Can you please help us verify the fix. 👍

[2016-07-14 19:03] jaypatel512 commented on #155
Hey @dbajric and @pingcrosby !

Can you please verify the fix as referenced in #178.

I can merge it once verified. Thank you.

[2016-07-20 03:18] dbajric commented on #155
I have verified the fix related to missing property 'processor_response' and it is no longer causing error.

-Dinko

[2016-07-20 03:18] #155 closed

[2016-07-20 03:19] dbajric commented on #155
When do you plan to release a new build to nuget.org?

[2016-07-20 16:30] jaypatel512 commented on #155
Awesome @dbajric !

We have few SDKs waiting for release. We should get this out as soon as we can. Thank you.

[2016-07-20 16:30] #148 closed

[2016-07-21 19:37] jaypatel512 commented on #148
A new release has been made that includes this fix. https://www.nuget.org/packages/PayPal/1.7.4

Please update your sdk 👍 Thanks all.

[2016-07-21 19:37] jaypatel512 commented on #155
A new release has been made that includes this fix. https://www.nuget.org/packages/PayPal/1.7.4

Please update your sdk 👍 Thanks all.

[2016-07-27 21:17] pp-randy commented on #174
Current un-firm ETA for this functionality is end of Q1 - 2017.  Please keep in mind the Classic API is still able to provide this functionality presently.

[2016-07-27 22:27] intexx commented on #174
@pp-randy: Very good, thank you.

[2016-07-29 14:55] samueldjack commented on #146
I've just done a quick test with a project built against .Net 4.5.1 and it appears that all that's needed to have the SDK work is

1. a small change to the ConfigManager, supplied in my pull request #180 . This simply keeps the ConfigManager from throwing when the web.config is missing.
1.  to pass in a settings dictionary containing the mode when you create you credentials. i.e.
[code]
I apprecia

[2016-07-29 14:59] samueldjack commented on #177
I've just sent a pull request, #180, which makes this possible . This simply keeps the ConfigManager from throwing when the web.config is missing.

Existing apis enable you to pass in a settings dictionary containing your settings instead of relying on web.config. For example, when you create you credentials,
[code]

[2016-07-29 15:14] pp-randy commented on #179
Sorry for the delay @cai0m3ga.  Can you run a new request for me?  Also 500s for payments tend to be related to using common test credit card numbers.  You can create a new test card on step 4 of this FAQ https://www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413

[2016-07-29 18:15] MLyons10 commented on #177
Thank you very much for your help with that.  Will this be in the next release?

So, I just want to make sure that I understand this.  If I create a dictionary holding the values from within the web.config, and then pass it to the OAuthTokenCredential, that will now be sufficient? Do I have to map the string values in the Dictionary a specific way?

Something like:

Dictionary<string, string> dict

[2016-07-29 18:19] samueldjack commented on #177
Whether this makes it into a release is for the paypal folks to decide!

Probably all you need in the dictionary is the mode parameter. You pass the
client id and secret directly to the OAuthTokenCredential.

On 29 Jul 2016 19:16, "MLyons10" <notifications@github.com> wrote:

[2016-08-01 06:01] brycekmartin commented on #104
Hey Guys,
I'm currently having this same issue.  I am testing our vault creation code and defaulted to the test card numbers for each creation so the card numbers would be the same but with different tokens.  When I went to use the token to do an authorization I got UNKNOWN_ERROR.  Can anyone tell me what might be going on? Is my account hosed now? We aren't supposed to use real card numbers in th

[2016-08-01 15:08] pp-randy commented on #104
@brycekmartin I apologize for the inconvenience. You shouldn't use a real credit card number, but the sandbox does require the number passes the Luhn algorithm.  Try using the credit card generator on step 4 of this FAQ www.paypal-knowledge.com/infocenter/index?page=content&widgetview=true&id=FAQ1413

Adding internal feature tracking: PPPLMER-14753

[2016-08-02 18:47] brycekmartin opened #181 "UNKNOWN ERROR - Make payment with Credit Card"
Using the default settings in the PayPal SDK Samples I get an UNKNOWN error returned.  I had this same error in my own code and decided to try it in the Samples to see what I was doing wrong.

[2016-08-02 18:50] brycekmartin commented on #181
Sorry.  Forgot that I had tagged onto the other issue.

[2016-08-02 18:50] #181 closed

[2016-08-02 18:55] brycekmartin commented on #104
Hey @pp-randy - I'm not using a "paypal" account when processing.  I'm simply processing credit cards directly in a gateway fashion.  So I just overrode the cards coming into my method with the standard test numbers when running this in debug.  When in production the actual card number will be passed.

I'm currently having the same error when running the PayPal SDK example solution.  Not sure if i

[2016-08-02 19:00] pp-randy commented on #104
The example credit card is probably having issues from being overused in the sandbox.  Were you able to test with a generated card number as suggested in my previous response?

[2016-08-02 20:28] brycekmartin commented on #104
@pp-randy I just generated a card number.  I added it to the vault and then tried to create a payment using the vault token and got the UNKNOWN ERROR.  I have no idea why this isn't working.  The SDK is still returning that error as well.

[2016-08-02 21:15] pp-randy commented on #104
What is your latest debug id?

[2016-08-02 22:15] pp-randy commented on #104
@brycekmartin this is a new issue since you changed the credit card, your merchant account is showing some Website Payments Pro not enabled errors now.  I am seeing if I can fix this for you.

[2016-08-02 22:17] pp-randy commented on #104
@brycekmartin I think I got this resolved for you.  Try again please with the generated card number.

[2016-08-03 12:39] brycekmartin commented on #104
@pp-randy I tried this with the vault token that resulted from using the generated card number but still got the same error.
My latest  "debug_id":"42c75a8d33e2f"

[2016-08-03 13:49] pp-randy commented on #104
That request appears to be made before I made changes to your sandbox account.
Your request was at 13:25 PDT
I adjusted your account at 15:16 PDT.

Are you still getting an error now?

[2016-08-03 20:25] brycekmartin commented on #104
Still getting the error... debug d98ba2fdc1b74

[2016-08-03 20:48] pp-randy commented on #104
Did you still use a generated Credit Card number for that?  This looked like a common test card, which that still will have an issue.

[2016-08-03 21:14] brycekmartin commented on #104
Yeah you are right.  I just remembered about the override that I didn't push to the test server.  I will retry this in the morning and let you know.

[2016-08-04 00:16] MaherJendoubi commented on #146
I've just blogged about these issues of portabilities here http://www.maherjendoubi.io/porting-paypal-net-sdk-to-net-core-and-net-standard

[2016-08-04 14:52] brycekmartin commented on #104
Ok. So I tested it this morning and it worked with the token from the newly generated card.  I guess I understand that the api would return UNKNOWN error since this is probably a sandbox specific issue, but it really does make it tough to figure out what is going on.  One question though, why would the sandbox care about that?  Especially since the card number was an official test card number from

[2016-08-04 15:33] pp-randy commented on #104
@brycekmartin I'm glad you were able to get things working.  I am tracking a feature to help with this sandbox issue (Internal Tracking: PPPLMER-14753)

[2016-08-04 20:43] jackanderson commented on #156
i am having this same problem.  When I execute a payment with the authorize intent, the related_resources array that is returned is empty. It makes it impossible to then capture the payment.

[2016-08-06 15:48] ravenet commented on #153
Hi,

PayPal 1.7.4 giving internal 500 error when try to pay using sandbox. Could you please someone help to fix this issue

thanks

[2016-08-08 10:19] superlogical commented on #146
I've written some sample code which demonstrates how to accept a payment using .net core

See this gist:
https://gist.github.com/superlogical/1b829ca1c9449e4788710867f346e90f

https://developer.paypal.com/docs/integration/web/accept-paypal-payment/

[2016-08-08 21:55] #179 closed

[2016-08-10 10:11] paeanustc opened #183 "I got the 400 error when running the PaymentWithCreditCard.aspx page in PayPal.SDK.Sample.VS.2012"
I got the 400 error when running the PaymentWithCreditCard.aspx page in PayPal.SDK.Sample.VS.2012.
The following is the error log:

2016-08-10 09:58:24,019 [7] DEBUG PayPal.Api.HttpConnection [(null)] {"intent":"sale","payer":{"payment_method":"credit_card","funding_instruments":[{"credit_card":{"number":"4877274905927862","type":"visa","expire_month":11,"expire_year":2018,"cvv2":"874","first_name